# 분석 대상 데이터 전처리

In [1]:
# 필요한 라이브러리 불러오기

import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
import pandas as pd
from sklearn import preprocessing

## 1. 모델링 데이터 전처리
### (1) 데이터 불러오기

In [40]:
# 경로 설정
path = './모델링_데이터_최종.csv'

# 전처리 전 분석 대상 데이터 불러오기
# df = pd.read_csv(path, encoding = 'cp949').drop('Unnamed: 0', axis = 1)

In [6]:
# 결과 확인

df.head()

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2015,1,1001493,동대문패션타운 관광특구,CS300011,일반의류,13193,13212,3,402,...,354425.0,567352.0,1114039.0,30598.0,422376.0,526203.0,382602.0,225947.0,93673.0,13213.0
1,2015,2,1001493,동대문패션타운 관광특구,CS300011,일반의류,13070,13090,2,272,...,421275.0,716451.0,1437159.0,35954.0,544434.0,664762.0,471235.0,302821.0,134414.0,13122.0
2,2015,3,1001493,동대문패션타운 관광특구,CS300011,일반의류,12881,12903,3,411,...,403932.0,658275.0,1346522.0,34249.0,545135.0,624123.0,439008.0,254332.0,107958.0,12937.0
3,2015,4,1001493,동대문패션타운 관광특구,CS300011,일반의류,12786,12808,2,254,...,356580.0,616928.0,1222964.0,29515.0,461956.0,565138.0,399117.0,257873.0,126298.0,12846.0
4,2016,1,1001493,동대문패션타운 관광특구,CS300011,일반의류,12848,12870,4,514,...,308019.0,546444.0,1055956.0,27256.0,391511.0,483240.0,363335.0,230571.0,106504.0,12758.0

### (2) 필요한 column 추출

In [7]:
# 모든 column 출력

df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명',
       '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수',
       '프랜차이즈_점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율', '주말_매출_비율',
       '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율',
       '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율', '시간대_06~11_매출_비율',
       '시간대_11~14_매출_비율', '시간대_14~17_매출_비율', '시간대_17~21_매출_비율',
       '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율', '연령대_10_매출_비율',
       '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율', '연령대_50_매출_비율',
       '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액',
       '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
       '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [8]:
# 필요한 column만 추출

column_need = ['기준_년_코드', '기준_분기_코드', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', 
              '당월_매출_금액', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율',
       '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율', '시간대_06~11_매출_비율',
       '시간대_11~14_매출_비율', '시간대_14~17_매출_비율', '시간대_17~21_매출_비율',
       '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율', '연령대_10_매출_비율',
       '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율', '연령대_50_매출_비율',
       '연령대_60_이상_매출_비율', '폐업_률']

df_new = df[column_need]

In [9]:
# 결과 확인

df_new

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,...,시간대_21~24_매출_비율,남성_매출_비율,여성_매출_비율,연령대_10_매출_비율,연령대_20_매출_비율,연령대_30_매출_비율,연령대_40_매출_비율,연령대_50_매출_비율,연령대_60_이상_매출_비율,폐업_률
0,2015,1,1001493,동대문패션타운 관광특구,CS300011,일반의류,1.686229e+11,14.0,14.0,14.0,...,9.0,39.0,61.0,2.0,18.0,24.0,23.0,22.0,11.0,4
1,2015,2,1001493,동대문패션타운 관광특구,CS300011,일반의류,1.838615e+11,13.0,14.0,14.0,...,10.0,34.0,66.0,2.0,17.0,21.0,25.0,23.0,13.0,3
2,2015,3,1001493,동대문패션타운 관광특구,CS300011,일반의류,1.664600e+11,16.0,14.0,15.0,...,10.0,36.0,64.0,1.0,18.0,23.0,24.0,20.0,14.0,5
3,2015,4,1001493,동대문패션타운 관광특구,CS300011,일반의류,2.050886e+11,13.0,16.0,15.0,...,10.0,39.0,61.0,2.0,19.0,20.0,22.0,23.0,15.0,3
4,2016,1,1001493,동대문패션타운 관광특구,CS300011,일반의류,1.675554e+11,11.0,13.0,15.0,...,10.0,38.0,62.0,1.0,19.0,19.0,23.0,23.0,16.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593093,2019,2,1001067,오류동역,CS100006,패스트푸드점,6.514680e+08,13.0,13.0,13.0,...,14.0,54.0,47.0,3.0,27.0,23.0,23.0,17.0,7.0,0
593094,2019,3,1001067,오류동역,CS100006,패스트푸드점,6.731599e+08,14.0,13.0,12.0,...,13.0,52.0,48.0,4.0,25.0,25.0,26.0,15.0,6.0,0
593095,2019,4,1001067,오류동역,CS100006,패스트푸드점,2.155204e+08,11.0,19.0,15.0,...,15.0,58.0,43.0,1.0,14.0,22.0,29.0,26.0,8.0,0
593096,2020,1,1001067,오류동역,CS100006,패스트푸드점,2.288959e+08,11.0,13.0,14.0,...,13.0,54.0,46.0,2.0,14.0,20.0,31.0,25.0,9.0,0
593097,2020,2,1001067,오류동역,CS100006,패스트푸드점,2.397732e+08,9.0,13.0,13.0,...,15.0,61.0,39.0,1.0,12.0,21.0,29.0,23.0,13.0,0

### (3) 데이터 정규화

In [12]:
# 데이터 정규화

start_column_index = 6 # 시작 column index 지정

df_new_n = df_new.copy()

# Min-Max Scaling 적용
for i in range(start_column_index, len(df_new.columns) - 1): # 폐업률은 대상에서 제외
    x = df_new[df_new.columns[i]].values # Return numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(pd.DataFrame(x))
    df_new_n[df_new_n.columns[i]] = pd.DataFrame(x_scaled)

In [16]:
# 결과 확인
df_new_n

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,...,시간대_21~24_매출_비율,남성_매출_비율,여성_매출_비율,연령대_10_매출_비율,연령대_20_매출_비율,연령대_30_매출_비율,연령대_40_매출_비율,연령대_50_매출_비율,연령대_60_이상_매출_비율,폐업_률
0,2015,1,1001493,동대문패션타운 관광특구,CS300011,일반의류,0.360169,0.322835,0.46250,0.264957,...,0.294574,0.39,0.61,0.02,0.188119,0.247525,0.228070,0.290909,0.252101,4
1,2015,2,1001493,동대문패션타운 관광특구,CS300011,일반의류,0.392718,0.314961,0.46250,0.264957,...,0.302326,0.34,0.66,0.02,0.178218,0.217822,0.245614,0.300000,0.268908,3
2,2015,3,1001493,동대문패션타운 관광특구,CS300011,일반의류,0.355549,0.338583,0.46250,0.273504,...,0.302326,0.36,0.64,0.01,0.188119,0.237624,0.236842,0.272727,0.277311,5
3,2015,4,1001493,동대문패션타운 관광특구,CS300011,일반의류,0.438057,0.314961,0.47500,0.273504,...,0.302326,0.39,0.61,0.02,0.198020,0.207921,0.219298,0.300000,0.285714,3
4,2016,1,1001493,동대문패션타운 관광특구,CS300011,일반의류,0.357889,0.299213,0.45625,0.273504,...,0.302326,0.38,0.62,0.01,0.198020,0.198020,0.228070,0.300000,0.294118,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593093,2019,2,1001067,오류동역,CS100006,패스트푸드점,0.001391,0.314961,0.45625,0.256410,...,0.333333,0.54,0.47,0.03,0.277228,0.237624,0.228070,0.245455,0.218487,0
593094,2019,3,1001067,오류동역,CS100006,패스트푸드점,0.001438,0.322835,0.45625,0.247863,...,0.325581,0.52,0.48,0.04,0.257426,0.257426,0.254386,0.227273,0.210084,0
593095,2019,4,1001067,오류동역,CS100006,패스트푸드점,0.000460,0.299213,0.49375,0.273504,...,0.341085,0.58,0.43,0.01,0.148515,0.227723,0.280702,0.327273,0.226891,0
593096,2020,1,1001067,오류동역,CS100006,패스트푸드점,0.000489,0.299213,0.45625,0.264957,...,0.325581,0.54,0.46,0.02,0.148515,0.207921,0.298246,0.318182,0.235294,0
593097,2020,2,1001067,오류동역,CS100006,패스트푸드점,0.000512,0.283465,0.45625,0.256410,...,0.341085,0.61,0.39,0.01,0.128713,0.217822,0.280702,0.300000,0.268908,0

### (4) 결과 저장

In [17]:
# 결과 저장

# df_new_n.to_csv('./모델링_데이터_최종.csv', encoding = 'cp949')

## 3. 분석 대상 상권정보 전처리
### (1) 데이터 불러오기

In [2]:
# 유동인구
df_fluid = pd.read_csv('./서울시 우리마을가게 상권분석서비스(상권-추정유동인구).csv', encoding = 'cp949')

# 집객시설
df_facil = pd.read_csv('./서울시 우리마을가게 상권분석서비스(상권-집객시설).csv', encoding = 'cp949')

# 직장인구
df_work = pd.read_csv('./서울시 우리마을가게 상권분석서비스(상권-직장인구).csv', encoding = 'cp949')

# 상주인구
df_live = pd.read_csv('./서울시 우리마을가게 상권분석서비스(상권_상주인구).csv', encoding = 'cp949')

### (2) 필요한 column 추출

In [3]:
# 유동인구 데이터의 모든 column 확인

list(df_fluid.columns)

['기준_년_코드',
 '기준_분기_코드',
 ' 상권_구분_코드',
 ' 상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_유동인구_수',
 '남성_유동인구_수',
 '여성_유동인구_수',
 '연령대_10_유동인구_수',
 '연령대_20_유동인구_수',
 '연령대_30_유동인구_수',
 '연령대_40_유동인구_수',
 '연령대_50_유동인구_수',
 '연령대_60_이상_유동인구_수',
 '시간대_1_유동인구_수',
 '시간대_2_유동인구_수',
 '시간대_3_유동인구_수',
 '시간대_4_유동인구_수',
 '시간대_5_유동인구_수',
 '시간대_6_유동인구_수',
 '월요일_유동인구_수',
 '화요일_유동인구_수',
 '수요일_유동인구_수',
 '목요일_유동인구_수',
 '금요일_유동인구_수',
 '토요일_유동인구_수',
 '일요일_유동인구_수',
 '남성연령대_10_월요일시간대_1_유동인구_수',
 '남성연령대_10_월요일시간대_2_유동인구_수',
 '남성연령대_10_월요일시간대_3_유동인구_수',
 '남성연령대_10_월요일시간대_4_유동인구_수',
 '남성연령대_10_월요일시간대_5_유동인구_수',
 '남성연령대_10_월요일시간대_6_유동인구_수',
 '남성연령대_10_화요일시간대_1_유동인구_수',
 '남성연령대_10_화요일시간대_2_유동인구_수',
 '남성연령대_10_화요일시간대_3_유동인구_수',
 '남성연령대_10_화요일시간대_4_유동인구_수',
 '남성연령대_10_화요일시간대_5_유동인구_수',
 '남성연령대_10_화요일시간대_6_유동인구_수',
 '남성연령대_10_수요일시간대_1_유동인구_수',
 '남성연령대_10_수요일시간대_2_유동인구_수',
 '남성연령대_10_수요일시간대_3_유동인구_수',
 '남성연령대_10_수요일시간대_4_유동인구_수',
 '남성연령대_10_수요일시간대_5_유동인구_수',
 '남성연령대_10_수요일시간대_6_유동인구_수',
 '남성연령대_10_목요일시간대_1_유동인구_수',
 '남성연령대_10_목요일시간대_2_유동인구_수',
 '남성연령대_10_목요일시간대_3_유동인구_수',
 '남성연령대_10_목요일시간대_4_유동인구_수',
 '남성연령대_10_목요일시간대_5_유동인구_수',
 '남성연령대_10_목요일시간대_6_유동인구_수',
 '남성연령대_10_금요일시간대_1_유동인구_수',
 '남성연령대_10_금요일시간대_2_유동인구_수',
 '남성연령대_10_금요일시간대_3_유동인구_수',
 '남성연령대_10_금요일시간대_4_유동인구_수',
 '남성연령대_10_금요일시간대_5_유동인구_수',
 '남성연령대_10_금요일시간대_6_유동인구_수',
 '남성연령대_10_토요일시간대_1_유동인구_수',
 '남성연령대_10_토요일시간대_2_유동인구_수',
 '남성연령대_10_토요일시간대_3_유동인구_수',
 '남성연령대_10_토요일시간대_4_유동인구_수',
 '남성연령대_10_토요일시간대_5_유동인구_수',
 '남성연령대_10_토요일시간대_6_유동인구_수',
 '남성연령대_10_일요일시간대_1_유동인구_수',
 '남성연령대_10_일요일시간대_2_유동인구_수',
 '남성연령대_10_일요일시간대_3_유동인구_수',
 '남성연령대_10_일요일시간대_4_유동인구_수',
 '남성연령대_10_일요일시간대_5_유동인구_수',
 '남성연령대_10_일요일시간대_6_유동인구_수',
 '남성연령대_20_월요일시간대_1_유동인구_수',
 '남성연령대_20_월요일시간대_2_유동인구_수',
 '남성연령대_20_월요일시간대_3_유동인구_수',
 '남성연령대_20_월요일시간대_4_유동인구_수',
 '남성연령대_20_월요일시간대_5_유동인구_수',
 '남성연령대_20_월요일시간대_6_유동인구_수',
 '남성연령대_20_화요일시간대_1_유동인구_수',
 '남성연령대_20_화요일시간대_2_유동인구_수',
 '남성연령대_20_화요일시간대_3_유동인구_수',
 '남성연령대_20_화요일시간대_4_유동인구_수',
 '남성연령대_20_화요일시간대_5_유동인구_수',
 '남성연령대_20_화요일시간대_6_유동인구_수',
 '남성연령대_20_수요일시간대_1_유동인구_수',
 '남성연령대_20_수요일시간대_2_유동인구_수',
 '남성연령대_20_수요일시간대_3_유동인구_수',
 '남성연령대_20_수요일시간대_4_유동인구_수',
 '남성연령대_20_수요일시간대_5_유동인구_수',
 '남성연령대_20_수요일시간대_6_유동인구_수',
 '남성연령대_20_목요일시간대_1_유동인구_수',
 '남성연령대_20_목요일시간대_2_유동인구_수',
 '남성연령대_20_목요일시간대_3_유동인구_수',
 '남성연령대_20_목요일시간대_4_유동인구_수',
 '남성연령대_20_목요일시간대_5_유동인구_수',
 '남성연령대_20_목요일시간대_6_유동인구_수',
 '남성연령대_20_금요일시간대_1_유동인구_수',
 '남성연령대_20_금요일시간대_2_유동인구_수',
 '남성연령대_20_금요일시간대_3_유동인구_수',
 '남성연령대_20_금요일시간대_4_유동인구_수',
 '남성연령대_20_금요일시간대_5_유동인구_수',
 '남성연령대_20_금요일시간대_6_유동인구_수',
 '남성연령대_20_토요일시간대_1_유동인구_수',
 '남성연령대_20_토요일시간대_2_유동인구_수',
 '남성연령대_20_토요일시간대_3_유동인구_수',
 '남성연령대_20_토요일시간대_4_유동인구_수',
 '남성연령대_20_토요일시간대_5_유동인구_수',
 '남성연령대_20_토요일시간대_6_유동인구_수',
 '남성연령대_20_일요일시간대_1_유동인구_수',
 '남성연령대_20_일요일시간대_2_유동인구_수',
 '남성연령대_20_일요일시간대_3_유동인구_수',
 '남성연령대_20_일요일시간대_4_유동인구_수',
 '남성연령대_20_일요일시간대_5_유동인구_수',
 '남성연령대_20_일요일시간대_6_유동인구_수',
 '남성연령대_30_월요일시간대_1_유동인구_수',
 '남성연령대_30_월요일시간대_2_유동인구_수',
 '남성연령대_30_월요일시간대_3_유동인구_수',
 '남성연령대_30_월요일시간대_4_유동인구_수',
 '남성연령대_30_월요일시간대_5_유동인구_수',
 '남성연령대_30_월요일시간대_6_유동인구_수',
 '남성연령대_30_화요일시간대_1_유동인구_수',
 '남성연령대_30_화요일시간대_2_유동인구_수',
 '남성연령대_30_화요일시간대_3_유동인구_수',
 '남성연령대_30_화요일시간대_4_유동인구_수',
 '남성연령대_30_화요일시간대_5_유동인구_수',
 '남성연령대_30_화요일시간대_6_유동인구_수',
 '남성연령대_30_수요일시간대_1_유동인구_수',
 '남성연령대_30_수요일시간대_2_유동인구_수',
 '남성연령대_30_수요일시간대_3_유동인구_수',
 '남성연령대_30_수요일시간대_4_유동인구_수',
 '남성연령대_30_수요일시간대_5_유동인구_수',
 '남성연령대_30_수요일시간대_6_유동인구_수',
 '남성연령대_30_목요일시간대_1_유동인구_수',
 '남성연령대_30_목요일시간대_2_유동인구_수',
 '남성연령대_30_목요일시간대_3_유동인구_수',
 '남성연령대_30_목요일시간대_4_유동인구_수',
 '남성연령대_30_목요일시간대_5_유동인구_수',
 '남성연령대_30_목요일시간대_6_유동인구_수',
 '남성연령대_30_금요일시간대_1_유동인구_수',
 '남성연령대_30_금요일시간대_2_유동인구_수',
 '남성연령대_30_금요일시간대_3_유동인구_수',
 '남성연령대_30_금요일시간대_4_유동인구_수',
 '남성연령대_30_금요일시간대_5_유동인구_수',
 '남성연령대_30_금요일시간대_6_유동인구_수',
 '남성연령대_30_토요일시간대_1_유동인구_수',
 '남성연령대_30_토요일시간대_2_유동인구_수',
 '남성연령대_30_토요일시간대_3_유동인구_수',
 '남성연령대_30_토요일시간대_4_유동인구_수',
 '남성연령대_30_토요일시간대_5_유동인구_수',
 '남성연령대_30_토요일시간대_6_유동인구_수',
 '남성연령대_30_일요일시간대_1_유동인구_수',
 '남성연령대_30_일요일시간대_2_유동인구_수',
 '남성연령대_30_일요일시간대_3_유동인구_수',
 '남성연령대_30_일요일시간대_4_유동인구_수',
 '남성연령대_30_일요일시간대_5_유동인구_수',
 '남성연령대_30_일요일시간대_6_유동인구_수',
 '남성연령대_40_월요일시간대_1_유동인구_수',
 '남성연령대_40_월요일시간대_2_유동인구_수',
 '남성연령대_40_월요일시간대_3_유동인구_수',
 '남성연령대_40_월요일시간대_4_유동인구_수',
 '남성연령대_40_월요일시간대_5_유동인구_수',
 '남성연령대_40_월요일시간대_6_유동인구_수',
 '남성연령대_40_화요일시간대_1_유동인구_수',
 '남성연령대_40_화요일시간대_2_유동인구_수',
 '남성연령대_40_화요일시간대_3_유동인구_수',
 '남성연령대_40_화요일시간대_4_유동인구_수',
 '남성연령대_40_화요일시간대_5_유동인구_수',
 '남성연령대_40_화요일시간대_6_유동인구_수',
 '남성연령대_40_수요일시간대_1_유동인구_수',
 '남성연령대_40_수요일시간대_2_유동인구_수',
 '남성연령대_40_수요일시간대_3_유동인구_수',
 '남성연령대_40_수요일시간대_4_유동인구_수',
 '남성연령대_40_수요일시간대_5_유동인구_수',
 '남성연령대_40_수요일시간대_6_유동인구_수',
 '남성연령대_40_목요일시간대_1_유동인구_수',
 '남성연령대_40_목요일시간대_2_유동인구_수',
 '남성연령대_40_목요일시간대_3_유동인구_수',
 '남성연령대_40_목요일시간대_4_유동인구_수',
 '남성연령대_40_목요일시간대_5_유동인구_수',
 '남성연령대_40_목요일시간대_6_유동인구_수',
 '남성연령대_40_금요일시간대_1_유동인구_수',
 '남성연령대_40_금요일시간대_2_유동인구_수',
 '남성연령대_40_금요일시간대_3_유동인구_수',
 '남성연령대_40_금요일시간대_4_유동인구_수',
 '남성연령대_40_금요일시간대_5_유동인구_수',
 '남성연령대_40_금요일시간대_6_유동인구_수',
 '남성연령대_40_토요일시간대_1_유동인구_수',
 '남성연령대_40_토요일시간대_2_유동인구_수',
 '남성연령대_40_토요일시간대_3_유동인구_수',
 '남성연령대_40_토요일시간대_4_유동인구_수',
 '남성연령대_40_토요일시간대_5_유동인구_수',
 '남성연령대_40_토요일시간대_6_유동인구_수',
 '남성연령대_40_일요일시간대_1_유동인구_수',
 '남성연령대_40_일요일시간대_2_유동인구_수',
 '남성연령대_40_일요일시간대_3_유동인구_수',
 '남성연령대_40_일요일시간대_4_유동인구_수',
 '남성연령대_40_일요일시간대_5_유동인구_수',
 '남성연령대_40_일요일시간대_6_유동인구_수',
 '남성연령대_50_월요일시간대_1_유동인구_수',
 '남성연령대_50_월요일시간대_2_유동인구_수',
 '남성연령대_50_월요일시간대_3_유동인구_수',
 '남성연령대_50_월요일시간대_4_유동인구_수',
 '남성연령대_50_월요일시간대_5_유동인구_수',
 '남성연령대_50_월요일시간대_6_유동인구_수',
 '남성연령대_50_화요일시간대_1_유동인구_수',
 '남성연령대_50_화요일시간대_2_유동인구_수',
 '남성연령대_50_화요일시간대_3_유동인구_수',
 '남성연령대_50_화요일시간대_4_유동인구_수',
 '남성연령대_50_화요일시간대_5_유동인구_수',
 '남성연령대_50_화요일시간대_6_유동인구_수',
 '남성연령대_50_수요일시간대_1_유동인구_수',
 '남성연령대_50_수요일시간대_2_유동인구_수',
 '남성연령대_50_수요일시간대_3_유동인구_수',
 '남성연령대_50_수요일시간대_4_유동인구_수',
 '남성연령대_50_수요일시간대_5_유동인구_수',
 '남성연령대_50_수요일시간대_6_유동인구_수',
 '남성연령대_50_목요일시간대_1_유동인구_수',
 '남성연령대_50_목요일시간대_2_유동인구_수',
 '남성연령대_50_목요일시간대_3_유동인구_수',
 '남성연령대_50_목요일시간대_4_유동인구_수',
 '남성연령대_50_목요일시간대_5_유동인구_수',
 '남성연령대_50_목요일시간대_6_유동인구_수',
 '남성연령대_50_금요일시간대_1_유동인구_수',
 '남성연령대_50_금요일시간대_2_유동인구_수',
 '남성연령대_50_금요일시간대_3_유동인구_수',
 '남성연령대_50_금요일시간대_4_유동인구_수',
 '남성연령대_50_금요일시간대_5_유동인구_수',
 '남성연령대_50_금요일시간대_6_유동인구_수',
 '남성연령대_50_토요일시간대_1_유동인구_수',
 '남성연령대_50_토요일시간대_2_유동인구_수',
 '남성연령대_50_토요일시간대_3_유동인구_수',
 '남성연령대_50_토요일시간대_4_유동인구_수',
 '남성연령대_50_토요일시간대_5_유동인구_수',
 '남성연령대_50_토요일시간대_6_유동인구_수',
 '남성연령대_50_일요일시간대_1_유동인구_수',
 '남성연령대_50_일요일시간대_2_유동인구_수',
 '남성연령대_50_일요일시간대_3_유동인구_수',
 '남성연령대_50_일요일시간대_4_유동인구_수',
 '남성연령대_50_일요일시간대_5_유동인구_수',
 '남성연령대_50_일요일시간대_6_유동인구_수',
 '남성연령대_60_이상_월요일시간대_1_유동인구_수',
 '남성연령대_60_이상_월요일시간대_2_유동인구_수',
 '남성연령대_60_이상_월요일시간대_3_유동인구_수',
 '남성연령대_60_이상_월요일시간대_4_유동인구_수',
 '남성연령대_60_이상_월요일시간대_5_유동인구_수',
 '남성연령대_60_이상_월요일시간대_6_유동인구_수',
 '남성연령대_60_이상_화요일시간대_1_유동인구_수',
 '남성연령대_60_이상_화요일시간대_2_유동인구_수',
 '남성연령대_60_이상_화요일시간대_3_유동인구_수',
 '남성연령대_60_이상_화요일시간대_4_유동인구_수',
 '남성연령대_60_이상_화요일시간대_5_유동인구_수',
 '남성연령대_60_이상_화요일시간대_6_유동인구_수',
 '남성연령대_60_이상_수요일시간대_1_유동인구_수',
 '남성연령대_60_이상_수요일시간대_2_유동인구_수',
 '남성연령대_60_이상_수요일시간대_3_유동인구_수',
 '남성연령대_60_이상_수요일시간대_4_유동인구_수',
 '남성연령대_60_이상_수요일시간대_5_유동인구_수',
 '남성연령대_60_이상_수요일시간대_6_유동인구_수',
 '남성연령대_60_이상_목요일시간대_1_유동인구_수',
 '남성연령대_60_이상_목요일시간대_2_유동인구_수',
 '남성연령대_60_이상_목요일시간대_3_유동인구_수',
 '남성연령대_60_이상_목요일시간대_4_유동인구_수',
 '남성연령대_60_이상_목요일시간대_5_유동인구_수',
 '남성연령대_60_이상_목요일시간대_6_유동인구_수',
 '남성연령대_60_이상_금요일시간대_1_유동인구_수',
 '남성연령대_60_이상_금요일시간대_2_유동인구_수',
 '남성연령대_60_이상_금요일시간대_3_유동인구_수',
 '남성연령대_60_이상_금요일시간대_4_유동인구_수',
 '남성연령대_60_이상_금요일시간대_5_유동인구_수',
 '남성연령대_60_이상_금요일시간대_6_유동인구_수',
 '남성연령대_60_이상_토요일시간대_1_유동인구_수',
 '남성연령대_60_이상_토요일시간대_2_유동인구_수',
 '남성연령대_60_이상_토요일시간대_3_유동인구_수',
 '남성연령대_60_이상_토요일시간대_4_유동인구_수',
 '남성연령대_60_이상_토요일시간대_5_유동인구_수',
 '남성연령대_60_이상_토요일시간대_6_유동인구_수',
 '남성연령대_60_이상_일요일시간대_1_유동인구_수',
 '남성연령대_60_이상_일요일시간대_2_유동인구_수',
 '남성연령대_60_이상_일요일시간대_3_유동인구_수',
 '남성연령대_60_이상_일요일시간대_4_유동인구_수',
 '남성연령대_60_이상_일요일시간대_5_유동인구_수',
 '남성연령대_60_이상_일요일시간대_6_유동인구_수',
 '여성연령대_10_월요일시간대_1_유동인구_수',
 '여성연령대_10_월요일시간대_2_유동인구_수',
 '여성연령대_10_월요일시간대_3_유동인구_수',
 '여성연령대_10_월요일시간대_4_유동인구_수',
 '여성연령대_10_월요일시간대_5_유동인구_수',
 '여성연령대_10_월요일시간대_6_유동인구_수',
 '여성연령대_10_화요일시간대_1_유동인구_수',
 '여성연령대_10_화요일시간대_2_유동인구_수',
 '여성연령대_10_화요일시간대_3_유동인구_수',
 '여성연령대_10_화요일시간대_4_유동인구_수',
 '여성연령대_10_화요일시간대_5_유동인구_수',
 '여성연령대_10_화요일시간대_6_유동인구_수',
 '여성연령대_10_수요일시간대_1_유동인구_수',
 '여성연령대_10_수요일시간대_2_유동인구_수',
 '여성연령대_10_수요일시간대_3_유동인구_수',
 '여성연령대_10_수요일시간대_4_유동인구_수',
 '여성연령대_10_수요일시간대_5_유동인구_수',
 '여성연령대_10_수요일시간대_6_유동인구_수',
 '여성연령대_10_목요일시간대_1_유동인구_수',
 '여성연령대_10_목요일시간대_2_유동인구_수',
 '여성연령대_10_목요일시간대_3_유동인구_수',
 '여성연령대_10_목요일시간대_4_유동인구_수',
 '여성연령대_10_목요일시간대_5_유동인구_수',
 '여성연령대_10_목요일시간대_6_유동인구_수',
 '여성연령대_10_금요일시간대_1_유동인구_수',
 '여성연령대_10_금요일시간대_2_유동인구_수',
 '여성연령대_10_금요일시간대_3_유동인구_수',
 '여성연령대_10_금요일시간대_4_유동인구_수',
 '여성연령대_10_금요일시간대_5_유동인구_수',
 '여성연령대_10_금요일시간대_6_유동인구_수',
 '여성연령대_10_토요일시간대_1_유동인구_수',
 '여성연령대_10_토요일시간대_2_유동인구_수',
 '여성연령대_10_토요일시간대_3_유동인구_수',
 '여성연령대_10_토요일시간대_4_유동인구_수',
 '여성연령대_10_토요일시간대_5_유동인구_수',
 '여성연령대_10_토요일시간대_6_유동인구_수',
 '여성연령대_10_일요일시간대_1_유동인구_수',
 '여성연령대_10_일요일시간대_2_유동인구_수',
 '여성연령대_10_일요일시간대_3_유동인구_수',
 '여성연령대_10_일요일시간대_4_유동인구_수',
 '여성연령대_10_일요일시간대_5_유동인구_수',
 '여성연령대_10_일요일시간대_6_유동인구_수',
 '여성연령대_20_월요일시간대_1_유동인구_수',
 '여성연령대_20_월요일시간대_2_유동인구_수',
 '여성연령대_20_월요일시간대_3_유동인구_수',
 '여성연령대_20_월요일시간대_4_유동인구_수',
 '여성연령대_20_월요일시간대_5_유동인구_수',
 '여성연령대_20_월요일시간대_6_유동인구_수',
 '여성연령대_20_화요일시간대_1_유동인구_수',
 '여성연령대_20_화요일시간대_2_유동인구_수',
 '여성연령대_20_화요일시간대_3_유동인구_수',
 '여성연령대_20_화요일시간대_4_유동인구_수',
 '여성연령대_20_화요일시간대_5_유동인구_수',
 '여성연령대_20_화요일시간대_6_유동인구_수',
 '여성연령대_20_수요일시간대_1_유동인구_수',
 '여성연령대_20_수요일시간대_2_유동인구_수',
 '여성연령대_20_수요일시간대_3_유동인구_수',
 '여성연령대_20_수요일시간대_4_유동인구_수',
 '여성연령대_20_수요일시간대_5_유동인구_수',
 '여성연령대_20_수요일시간대_6_유동인구_수',
 '여성연령대_20_목요일시간대_1_유동인구_수',
 '여성연령대_20_목요일시간대_2_유동인구_수',
 '여성연령대_20_목요일시간대_3_유동인구_수',
 '여성연령대_20_목요일시간대_4_유동인구_수',
 '여성연령대_20_목요일시간대_5_유동인구_수',
 '여성연령대_20_목요일시간대_6_유동인구_수',
 '여성연령대_20_금요일시간대_1_유동인구_수',
 '여성연령대_20_금요일시간대_2_유동인구_수',
 '여성연령대_20_금요일시간대_3_유동인구_수',
 '여성연령대_20_금요일시간대_4_유동인구_수',
 '여성연령대_20_금요일시간대_5_유동인구_수',
 '여성연령대_20_금요일시간대_6_유동인구_수',
 '여성연령대_20_토요일시간대_1_유동인구_수',
 '여성연령대_20_토요일시간대_2_유동인구_수',
 '여성연령대_20_토요일시간대_3_유동인구_수',
 '여성연령대_20_토요일시간대_4_유동인구_수',
 '여성연령대_20_토요일시간대_5_유동인구_수',
 '여성연령대_20_토요일시간대_6_유동인구_수',
 '여성연령대_20_일요일시간대_1_유동인구_수',
 '여성연령대_20_일요일시간대_2_유동인구_수',
 '여성연령대_20_일요일시간대_3_유동인구_수',
 '여성연령대_20_일요일시간대_4_유동인구_수',
 '여성연령대_20_일요일시간대_5_유동인구_수',
 '여성연령대_20_일요일시간대_6_유동인구_수',
 '여성연령대_30_월요일시간대_1_유동인구_수',
 '여성연령대_30_월요일시간대_2_유동인구_수',
 '여성연령대_30_월요일시간대_3_유동인구_수',
 '여성연령대_30_월요일시간대_4_유동인구_수',
 '여성연령대_30_월요일시간대_5_유동인구_수',
 '여성연령대_30_월요일시간대_6_유동인구_수',
 '여성연령대_30_화요일시간대_1_유동인구_수',
 '여성연령대_30_화요일시간대_2_유동인구_수',
 '여성연령대_30_화요일시간대_3_유동인구_수',
 '여성연령대_30_화요일시간대_4_유동인구_수',
 '여성연령대_30_화요일시간대_5_유동인구_수',
 '여성연령대_30_화요일시간대_6_유동인구_수',
 '여성연령대_30_수요일시간대_1_유동인구_수',
 '여성연령대_30_수요일시간대_2_유동인구_수',
 '여성연령대_30_수요일시간대_3_유동인구_수',
 '여성연령대_30_수요일시간대_4_유동인구_수',
 '여성연령대_30_수요일시간대_5_유동인구_수',
 '여성연령대_30_수요일시간대_6_유동인구_수',
 '여성연령대_30_목요일시간대_1_유동인구_수',
 '여성연령대_30_목요일시간대_2_유동인구_수',
 '여성연령대_30_목요일시간대_3_유동인구_수',
 '여성연령대_30_목요일시간대_4_유동인구_수',
 '여성연령대_30_목요일시간대_5_유동인구_수',
 '여성연령대_30_목요일시간대_6_유동인구_수',
 '여성연령대_30_금요일시간대_1_유동인구_수',
 '여성연령대_30_금요일시간대_2_유동인구_수',
 '여성연령대_30_금요일시간대_3_유동인구_수',
 '여성연령대_30_금요일시간대_4_유동인구_수',
 '여성연령대_30_금요일시간대_5_유동인구_수',
 '여성연령대_30_금요일시간대_6_유동인구_수',
 '여성연령대_30_토요일시간대_1_유동인구_수',
 '여성연령대_30_토요일시간대_2_유동인구_수',
 '여성연령대_30_토요일시간대_3_유동인구_수',
 '여성연령대_30_토요일시간대_4_유동인구_수',
 '여성연령대_30_토요일시간대_5_유동인구_수',
 '여성연령대_30_토요일시간대_6_유동인구_수',
 '여성연령대_30_일요일시간대_1_유동인구_수',
 '여성연령대_30_일요일시간대_2_유동인구_수',
 '여성연령대_30_일요일시간대_3_유동인구_수',
 '여성연령대_30_일요일시간대_4_유동인구_수',
 '여성연령대_30_일요일시간대_5_유동인구_수',
 '여성연령대_30_일요일시간대_6_유동인구_수',
 '여성연령대_40_월요일시간대_1_유동인구_수',
 '여성연령대_40_월요일시간대_2_유동인구_수',
 '여성연령대_40_월요일시간대_3_유동인구_수',
 '여성연령대_40_월요일시간대_4_유동인구_수',
 '여성연령대_40_월요일시간대_5_유동인구_수',
 '여성연령대_40_월요일시간대_6_유동인구_수',
 '여성연령대_40_화요일시간대_1_유동인구_수',
 '여성연령대_40_화요일시간대_2_유동인구_수',
 '여성연령대_40_화요일시간대_3_유동인구_수',
 '여성연령대_40_화요일시간대_4_유동인구_수',
 '여성연령대_40_화요일시간대_5_유동인구_수',
 '여성연령대_40_화요일시간대_6_유동인구_수',
 '여성연령대_40_수요일시간대_1_유동인구_수',
 '여성연령대_40_수요일시간대_2_유동인구_수',
 '여성연령대_40_수요일시간대_3_유동인구_수',
 '여성연령대_40_수요일시간대_4_유동인구_수',
 '여성연령대_40_수요일시간대_5_유동인구_수',
 '여성연령대_40_수요일시간대_6_유동인구_수',
 '여성연령대_40_목요일시간대_1_유동인구_수',
 '여성연령대_40_목요일시간대_2_유동인구_수',
 '여성연령대_40_목요일시간대_3_유동인구_수',
 '여성연령대_40_목요일시간대_4_유동인구_수',
 '여성연령대_40_목요일시간대_5_유동인구_수',
 '여성연령대_40_목요일시간대_6_유동인구_수',
 '여성연령대_40_금요일시간대_1_유동인구_수',
 '여성연령대_40_금요일시간대_2_유동인구_수',
 '여성연령대_40_금요일시간대_3_유동인구_수',
 '여성연령대_40_금요일시간대_4_유동인구_수',
 '여성연령대_40_금요일시간대_5_유동인구_수',
 '여성연령대_40_금요일시간대_6_유동인구_수',
 '여성연령대_40_토요일시간대_1_유동인구_수',
 '여성연령대_40_토요일시간대_2_유동인구_수',
 '여성연령대_40_토요일시간대_3_유동인구_수',
 '여성연령대_40_토요일시간대_4_유동인구_수',
 '여성연령대_40_토요일시간대_5_유동인구_수',
 '여성연령대_40_토요일시간대_6_유동인구_수',
 '여성연령대_40_일요일시간대_1_유동인구_수',
 '여성연령대_40_일요일시간대_2_유동인구_수',
 '여성연령대_40_일요일시간대_3_유동인구_수',
 '여성연령대_40_일요일시간대_4_유동인구_수',
 '여성연령대_40_일요일시간대_5_유동인구_수',
 '여성연령대_40_일요일시간대_6_유동인구_수',
 '여성연령대_50_월요일시간대_1_유동인구_수',
 '여성연령대_50_월요일시간대_2_유동인구_수',
 '여성연령대_50_월요일시간대_3_유동인구_수',
 '여성연령대_50_월요일시간대_4_유동인구_수',
 '여성연령대_50_월요일시간대_5_유동인구_수',
 '여성연령대_50_월요일시간대_6_유동인구_수',
 '여성연령대_50_화요일시간대_1_유동인구_수',
 '여성연령대_50_화요일시간대_2_유동인구_수',
 '여성연령대_50_화요일시간대_3_유동인구_수',
 '여성연령대_50_화요일시간대_4_유동인구_수',
 '여성연령대_50_화요일시간대_5_유동인구_수',
 '여성연령대_50_화요일시간대_6_유동인구_수',
 '여성연령대_50_수요일시간대_1_유동인구_수',
 '여성연령대_50_수요일시간대_2_유동인구_수',
 '여성연령대_50_수요일시간대_3_유동인구_수',
 '여성연령대_50_수요일시간대_4_유동인구_수',
 '여성연령대_50_수요일시간대_5_유동인구_수',
 '여성연령대_50_수요일시간대_6_유동인구_수',
 '여성연령대_50_목요일시간대_1_유동인구_수',
 '여성연령대_50_목요일시간대_2_유동인구_수',
 '여성연령대_50_목요일시간대_3_유동인구_수',
 '여성연령대_50_목요일시간대_4_유동인구_수',
 '여성연령대_50_목요일시간대_5_유동인구_수',
 '여성연령대_50_목요일시간대_6_유동인구_수',
 '여성연령대_50_금요일시간대_1_유동인구_수',
 '여성연령대_50_금요일시간대_2_유동인구_수',
 '여성연령대_50_금요일시간대_3_유동인구_수',
 '여성연령대_50_금요일시간대_4_유동인구_수',
 '여성연령대_50_금요일시간대_5_유동인구_수',
 '여성연령대_50_금요일시간대_6_유동인구_수',
 '여성연령대_50_토요일시간대_1_유동인구_수',
 '여성연령대_50_토요일시간대_2_유동인구_수',
 '여성연령대_50_토요일시간대_3_유동인구_수',
 '여성연령대_50_토요일시간대_4_유동인구_수',
 '여성연령대_50_토요일시간대_5_유동인구_수',
 '여성연령대_50_토요일시간대_6_유동인구_수',
 '여성연령대_50_일요일시간대_1_유동인구_수',
 '여성연령대_50_일요일시간대_2_유동인구_수',
 '여성연령대_50_일요일시간대_3_유동인구_수',
 '여성연령대_50_일요일시간대_4_유동인구_수',
 '여성연령대_50_일요일시간대_5_유동인구_수',
 '여성연령대_50_일요일시간대_6_유동인구_수',
 '여성연령대_60_이상_월요일시간대_1_유동인구_수',
 '여성연령대_60_이상_월요일시간대_2_유동인구_수',
 '여성연령대_60_이상_월요일시간대_3_유동인구_수',
 '여성연령대_60_이상_월요일시간대_4_유동인구_수',
 '여성연령대_60_이상_월요일시간대_5_유동인구_수',
 '여성연령대_60_이상_월요일시간대_6_유동인구_수',
 '여성연령대_60_이상_화요일시간대_1_유동인구_수',
 '여성연령대_60_이상_화요일시간대_2_유동인구_수',
 '여성연령대_60_이상_화요일시간대_3_유동인구_수',
 '여성연령대_60_이상_화요일시간대_4_유동인구_수',
 '여성연령대_60_이상_화요일시간대_5_유동인구_수',
 '여성연령대_60_이상_화요일시간대_6_유동인구_수',
 '여성연령대_60_이상_수요일시간대_1_유동인구_수',
 '여성연령대_60_이상_수요일시간대_2_유동인구_수',
 '여성연령대_60_이상_수요일시간대_3_유동인구_수',
 '여성연령대_60_이상_수요일시간대_4_유동인구_수',
 '여성연령대_60_이상_수요일시간대_5_유동인구_수',
 '여성연령대_60_이상_수요일시간대_6_유동인구_수',
 '여성연령대_60_이상_목요일시간대_1_유동인구_수',
 '여성연령대_60_이상_목요일시간대_2_유동인구_수',
 '여성연령대_60_이상_목요일시간대_3_유동인구_수',
 '여성연령대_60_이상_목요일시간대_4_유동인구_수',
 '여성연령대_60_이상_목요일시간대_5_유동인구_수',
 '여성연령대_60_이상_목요일시간대_6_유동인구_수',
 '여성연령대_60_이상_금요일시간대_1_유동인구_수',
 '여성연령대_60_이상_금요일시간대_2_유동인구_수',
 '여성연령대_60_이상_금요일시간대_3_유동인구_수',
 '여성연령대_60_이상_금요일시간대_4_유동인구_수',
 '여성연령대_60_이상_금요일시간대_5_유동인구_수',
 '여성연령대_60_이상_금요일시간대_6_유동인구_수',
 '여성연령대_60_이상_토요일시간대_1_유동인구_수',
 '여성연령대_60_이상_토요일시간대_2_유동인구_수',
 '여성연령대_60_이상_토요일시간대_3_유동인구_수',
 '여성연령대_60_이상_토요일시간대_4_유동인구_수',
 '여성연령대_60_이상_토요일시간대_5_유동인구_수',
 '여성연령대_60_이상_토요일시간대_6_유동인구_수',
 '여성연령대_60_이상_일요일시간대_1_유동인구_수',
 '여성연령대_60_이상_일요일시간대_2_유동인구_수',
 '여성연령대_60_이상_일요일시간대_3_유동인구_수',
 '여성연령대_60_이상_일요일시간대_4_유동인구_수',
 '여성연령대_60_이상_일요일시간대_5_유동인구_수',
 '여성연령대_60_이상_일요일시간대_6_유동인구_수']

In [17]:
# 유동인구 데이터 중 필요한 column 추출

target_index = 28

fluid_column = list(df_fluid.columns[:target_index])

df_fluid_new = df_fluid[fluid_column]

df_fluid_new = df_fluid_new.drop([' 상권_구분_코드', ' 상권_구분_코드_명', '상권_코드_명'], axis = 1)

In [18]:
# 집객시설 데이터의 모든 column 확인

list(df_facil.columns) # 모든 정보를 이용

['기준_년_코드',
 '기준_분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '집객시설_수',
 '관공서_수',
 '은행_수',
 '종합병원_수',
 '일반_병원_수',
 '약국_수',
 '유치원_수',
 '초등학교_수',
 '중학교_수',
 '고등학교_수',
 '대학교_수',
 '백화점_수',
 '슈퍼마켓_수',
 '극장_수',
 '숙박_시설_수',
 '공항_수',
 '철도_역_수',
 '버스_터미널_수',
 '지하철_역_수',
 '버스_정거장_수']

In [6]:
# 집객시설 데이터 중 필요한 column 추출

df_facil_new = df_facil.drop(['상권_구분_코드', '상권_구분_코드_명', '상권_코드_명'], axis = 1)

In [7]:
# 직장인구 데이터의 모든 column 확인

list(df_work.columns)

['기준_년_코드',
 '기준_분기_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_직장_인구_수',
 '남성_직장_인구_수',
 '여성_직장_인구_수',
 '연령대_10_직장_인구_수',
 '연령대_20_직장_인구_수',
 '연령대_30_직장_인구_수',
 '연령대_40_직장_인구_수',
 '연령대_50_직장_인구_수',
 '연령대_60_이상_직장_인구_수',
 '남성연령대_10_직장_인구_수',
 '남성연령대_20_직장_인구_수',
 '남성연령대_30_직장_인구_수',
 '남성연령대_40_직장_인구_수',
 '남성연령대_50_직장_인구_수',
 '남성연령대_60_이상_직장_인구_수',
 '여성연령대_10_직장_인구_수',
 '여성연령대_20_직장_인구_수',
 '여성연령대_30_직장_인구_수',
 '여성연령대_40_직장_인구_수',
 '여성연령대_50_직장_인구_수',
 '여성연령대_60_이상_직장_인구_수']

In [8]:
# 직장인구 데이터 중 필요한 column 추출
target_index = 14

work_column = list(df_work.columns[:target_index])

df_work_new = df_work[work_column].drop(['상권_구분_코드_명', '상권_코드_명'], axis = 1)

In [9]:
# 상주인구 데이터의 모든 column 확인

list(df_live.columns)

['기준_년_코드',
 '기준_분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '총 상주인구 수',
 '남성 상주인구 수',
 '여성 상주인구 수',
 '연령대 10 상주인구 수',
 '연령대 20 상주인구 수',
 '연령대 30 상주인구 수',
 '연령대 40 상주인구 수',
 '연령대 50 상주인구 수',
 '연령대 60 이상 상주인구 수',
 '남성연령대 10 상주인구 수',
 '남성연령대 20 상주인구 수',
 '남성연령대 30 상주인구 수',
 '남성연령대 40 상주인구 수',
 '남성연령대 50 상주인구 수',
 '남성연령대 60 이상 상주인구 수',
 '여성연령대 10 상주인구 수',
 '여성연령대 20 상주인구 수',
 '여성연령대 30 상주인구 수',
 '여성연령대 40 상주인구 수',
 '여성연령대 50 상주인구 수',
 '여성연령대 60 이상 상주인구 수',
 '총 가구 수',
 '아파트 가구 수',
 '비 아파트 가구 수',
 '상권 코드 명']

In [10]:
# 상주인구 데이터 중 필요한 column 추출

target_index = 14

live_column = list(df_live.columns[:target_index])

df_live_new = df_live[live_column].drop(['상권_구분_코드', '상권_구분_코드_명'], axis = 1)

### (3) 데이터 전처리

In [11]:
# 각 년도/분기마다 1496개의 상권이 있어야 하지만 결측 n개의 상권이 있어서, 1496 - n 개의 상권만 노출되고 있다.
# 따라서, 년도, 분기마다 1496개의 상권 개수가 되도록 NAN 값으로 행을 추가해줘야 함.
# 1. 년도/분기마다 결측된 상권을 정함
# 2. 년도/분기마다 결측된 상권에 대해서 아파트_단지_수, 아파트_평균_면적, 아파트_평균_시가를 NAN 으로 행을 추가함
# 3. 이때 상권_구분_코드, 상권_구분_코드_명, 상권_코드_명는 상권_영역 csv 시트를 참고하여 채워넣는다.

In [12]:
# 빠진 상권코드 추출 함수
# 상권코드의 범위
code_start = 1000001
code_end = 1001497

def 해당_년도_분기에_빠진_상권(data_set):
    temp_list =[]
    for i in range (code_start,code_end):
        if (data_set['상권_코드']==i).any():
            pass
        else:
            temp_list.append(i)
    
    return (temp_list)

#### a. 유동인구

In [13]:
# 1. 년도/분기마다 결측된 상권을 정함 

start_year = 2015
end_year = 2020
start_quarter = 1
end_quarter = 4
for i in range (start_year, end_year): # 년도
    for j in range(start_quarter, end_quarter + 1): # 분기
        globals()["_{}y_{}q_nan".format(i,j)] = (해당_년도_분기에_빠진_상권(df_fluid_new[(df_fluid_new['기준_분기_코드']==j) & (df_fluid_new['기준_년_코드']==i)]))
        
for i in range (end_year, end_year + 1): # 년도
    for j in range(start_quarter, end_quarter - 1): # 분기
        globals()["_{}y_{}q_nan".format(i,j)] = (해당_년도_분기에_빠진_상권(df_fluid_new[(df_fluid_new['기준_분기_코드']==j) & (df_fluid_new['기준_년_코드']==i)]))

In [14]:
# 2. 결측치 추가

for i in range (start_year,end_year): # 년도
    for j in range(start_quarter, end_quarter + 1): # 분기
            for k in range(0, len(globals()["_{}y_{}q_nan".format(i,j)])):
                _new_data = {'기준_년_코드' : int(i), '기준_분기_코드' : int(j) , '상권_코드' : int(globals()["_{}y_{}q_nan".format(i,j)][k]), 
                             '총_유동인구_수' : np.nan, '남성_유동인구_수' : np.nan, '여성_유동인구_수' : np.nan, '연령대_10_유동인구_수' : np.nan, 
                             '연령대_20_유동인구_수' : np.nan, '연령대_30_유동인구_수' : np.nan, '연령대_40_유동인구_수' : np.nan,
                             '연령대_50_유동인구_수' : np.nan, '연령대_60_이상_유동인구_수' : np.nan, '시간대_1_유동인구_수' : np.nan, 
                             '시간대_2_유동인구_수' : np.nan, '시간대_3_유동인구_수' : np.nan, '시간대_4_유동인구_수' : np.nan, 
                             '시간대_5_유동인구_수' : np.nan, '시간대_6_유동인구_수' : np.nan, '월요일_유동인구_수' : np.nan, 
                             '화요일_유동인구_수' : np.nan, '수요일_유동인구_수' : np.nan, '목요일_유동인구_수' : np.nan, 
                             '금요일_유동인구_수' : np.nan, '토요일_유동인구_수' : np.nan, '일요일_유동인구_수' : np.nan}
                df_fluid_new = df_fluid_new.append(_new_data,ignore_index=True)
        
for i in range (end_year, end_year + 1): # 년도
    for j in range(start_quarter, end_quarter - 1): # 분기
            for k in range(0, len(globals()["_{}y_{}q_nan".format(i,j)])):
                _new_data = {'기준_년_코드' : int(i), '기준_분기_코드' : int(j) , '상권_코드' : int(globals()["_{}y_{}q_nan".format(i,j)][k]), 
                             '총_유동인구_수' : np.nan, '남성_유동인구_수' : np.nan, '여성_유동인구_수' : np.nan, '연령대_10_유동인구_수' : np.nan, 
                             '연령대_20_유동인구_수' : np.nan, '연령대_30_유동인구_수' : np.nan, '연령대_40_유동인구_수' : np.nan,
                             '연령대_50_유동인구_수' : np.nan, '연령대_60_이상_유동인구_수' : np.nan, '시간대_1_유동인구_수' : np.nan, 
                             '시간대_2_유동인구_수' : np.nan, '시간대_3_유동인구_수' : np.nan, '시간대_4_유동인구_수' : np.nan, 
                             '시간대_5_유동인구_수' : np.nan, '시간대_6_유동인구_수' : np.nan, '월요일_유동인구_수' : np.nan, 
                             '화요일_유동인구_수' : np.nan, '수요일_유동인구_수' : np.nan, '목요일_유동인구_수' : np.nan, 
                             '금요일_유동인구_수' : np.nan, '토요일_유동인구_수' : np.nan, '일요일_유동인구_수' : np.nan}
                df_fluid_new = df_fluid_new.append(_new_data,ignore_index=True)

In [15]:
# 3. One-hot encoding 및 KNN-Imputer를 이용하여 결측치 채우기

from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder()
x = onehot.fit_transform(df_fluid_new['상권_코드'].values.reshape(-1, 1)).toarray()
onehot_df = pd.DataFrame(x, columns = ["상권코드_" + str(int(i)) for i in range(x.shape[1])])
fluid_o_hot = pd.concat([df_fluid_new, onehot_df], axis = 1)
market_code_list = list(fluid_o_hot['상권_코드'])
fluid_o_hot = fluid_o_hot.drop(['상권_코드'], axis = 1)

In [21]:
# 3. One-hot encoding 및 KNN-Imputer를 이용하여 결측치 채우기

import time
start = time.time()  # 시작 시간 저장
 
from sklearn.impute import KNNImputer

n_of_cluster = 150 # 군집의 수
imputer = KNNImputer(n_neighbors = n_of_cluster)
fluid_o_hot_knn = imputer.fit_transform(fluid_o_hot)
X_imputed_df = pd.DataFrame(fluid_o_hot_knn, columns = fluid_o_hot.columns)

# 추출할 column의 인덱스
target_index = 24
df_fluid_new = X_imputed_df[X_imputed_df.columns[:target_index]]
df_fluid_new['상권_코드'] = market_code_list
df_fluid_new = df_fluid_new.astype('int')

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

time : 20.599212884902954

In [19]:
# 2014년 데이터 제거

delete_index = []
for i in range(len(df_fluid_new)):
    if df_fluid_new.at[i,'기준_년_코드'] == 2014:
        delete_index.append(i)
    else:
        continue
        
df_fluid_new = df_fluid_new.drop(delete_index).reset_index(drop = True)

In [20]:
# 결과 확인

df_fluid_new

,기준_년_코드,기준_분기_코드,상권_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,...,시간대_4_유동인구_수,시간대_5_유동인구_수,시간대_6_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,2020,2,1001496,90544,46022,44522,4560,20323,26443,19121,...,21482,19681,5161,14459,14561,14670,14736,14524,9591,8002
1,2020,2,1001495,3026454,1479790,1546665,255317,681334,701941,495230,...,458566,616400,361671,428451,435962,438487,438968,447232,435540,401815
2,2020,2,1001494,4033679,2201483,1832196,115098,696166,787397,755994,...,830418,772446,332934,643074,650125,655313,656265,652978,458170,317754
3,2020,2,1001493,3262023,1588974,1673049,106459,612378,845244,657147,...,445879,510557,417637,505772,517126,513794,513920,511510,384749,315152
4,2020,2,1001492,3764785,1953028,1811756,72060,678198,997927,846649,...,929962,703440,178250,639275,635607,642535,648710,629312,333177,236168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32839,2015,1,1000005,12427,7151,5277,661,3690,867,4627,...,4422,2679,63,3401,3538,2027,1702,1143,444,173
32840,2015,1,1000004,103836,54747,49090,7241,39300,19219,18074,...,26042,28124,10129,19280,19116,17161,15945,13033,10124,9175
32841,2015,1,1000003,103288,63994,39294,572,12625,25734,27179,...,29010,27962,6006,20373,20342,17738,16662,15032,8212,4926
32842,2015,1,1000002,151355,92716,58639,1456,18019,35058,36753,...,41698,36340,9274,28870,27968,24563,22693,21106,14566,11588
32843,2015,1,1000001,107573,64734,42835,2003,15359,32361,30315,...,32884,27951,2758,20597,20798,18108,17141,15259,8856,6814

#### b. 직장인구

In [19]:
# 1. 년도/분기마다 결측된 상권을 정함 

start_year = 2015
end_year = 2020
start_quarter = 1
end_quarter = 4
for i in range (start_year, end_year): # 년도
    for j in range(start_quarter, end_quarter + 1): # 분기
        globals()["_{}y_{}q_nan".format(i,j)] = (해당_년도_분기에_빠진_상권(df_work_new[(df_work_new['기준_분기_코드']==j) & (df_work_new['기준_년_코드']==i)]))
        
for i in range (end_year, end_year + 1): # 년도
    for j in range(start_quarter, end_quarter - 1): # 분기
        globals()["_{}y_{}q_nan".format(i,j)] = (해당_년도_분기에_빠진_상권(df_work_new[(df_work_new['기준_분기_코드']==j) & (df_work_new['기준_년_코드']==i)]))

In [21]:
# 2. 결측치 추가

for i in range (start_year,end_year): # 년도
    for j in range(start_quarter, end_quarter + 1): # 분기
            for k in range(0, len(globals()["_{}y_{}q_nan".format(i,j)])):
                _new_data = {'기준_년_코드' : int(i), '기준_분기_코드' : int(j) , '상권_코드' : int(globals()["_{}y_{}q_nan".format(i,j)][k]), 
                             '총_직장_인구_수' : np.nan, '남성_직장_인구_수' : np.nan, '여성_직장_인구_수' : np.nan,
                             '연령대_10_직장_인구_수' : np.nan, '연령대_20_직장_인구_수' : np.nan, '연령대_30_직장_인구_수' : np.nan, 
                             '연령대_40_직장_인구_수' : np.nan, '연령대_50_직장_인구_수' : np.nan, '연령대_60_이상_직장_인구_수' : np.nan}
                df_work_new = df_work_new.append(_new_data,ignore_index=True)
        
for i in range (end_year, end_year + 1): # 년도
    for j in range(start_quarter, end_quarter - 1): # 분기
            for k in range(0, len(globals()["_{}y_{}q_nan".format(i,j)])):
                _new_data = {'기준_년_코드' : int(i), '기준_분기_코드' : int(j) , '상권_코드' : int(globals()["_{}y_{}q_nan".format(i,j)][k]), 
                             '총_직장_인구_수' : np.nan, '남성_직장_인구_수' : np.nan, '여성_직장_인구_수' : np.nan,
                             '연령대_10_직장_인구_수' : np.nan, '연령대_20_직장_인구_수' : np.nan, '연령대_30_직장_인구_수' : np.nan, 
                             '연령대_40_직장_인구_수' : np.nan, '연령대_50_직장_인구_수' : np.nan, '연령대_60_이상_직장_인구_수' : np.nan}
                df_work_new = df_work_new.append(_new_data,ignore_index=True)

In [22]:
# 3. One-hot encoding 및 KNN-Imputer를 이용하여 결측치 채우기

from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder()
x = onehot.fit_transform(df_work_new['상권_코드'].values.reshape(-1, 1)).toarray()
onehot_df = pd.DataFrame(x, columns = ["상권코드_" + str(int(i)) for i in range(x.shape[1])])
work_o_hot = pd.concat([df_work_new, onehot_df], axis = 1)
market_code_list = list(work_o_hot['상권_코드'])
work_o_hot = work_o_hot.drop(['상권_코드'], axis = 1)

In [23]:
# 3. One-hot encoding 및 KNN-Imputer를 이용하여 결측치 채우기

import time
start = time.time()  # 시작 시간 저장
 
from sklearn.impute import KNNImputer

n_of_cluster = 150 # 군집의 수
imputer = KNNImputer(n_neighbors = n_of_cluster)
work_o_hot_knn = imputer.fit_transform(work_o_hot)
X_imputed_df = pd.DataFrame(work_o_hot_knn, columns = work_o_hot.columns)

# 추출할 column의 인덱스
target_index = 11
df_work_new = X_imputed_df[X_imputed_df.columns[:target_index]]
df_work_new['상권_코드'] = market_code_list
df_work_new = df_work_new.astype('int')

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

time : 508.78635334968567

In [24]:
# 2014년 데이터 제거

delete_index = []
for i in range(len(df_work_new)):
    if df_work_new.at[i,'기준_년_코드'] == 2014:
        delete_index.append(i)
    else:
        continue
        
df_work_new = df_work_new.drop(delete_index).reset_index(drop = True)

In [25]:
# 결과 확인

df_work_new

,기준_년_코드,기준_분기_코드,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,상권_코드
0,2020,2,15904,8904,7000,59,3513,6185,4248,1596,303,1001496
1,2020,2,24375,14199,10176,120,4722,6565,5617,4514,2837,1001495
2,2020,2,32935,17150,15785,68,5357,9965,9483,6401,1661,1001494
3,2020,2,6054,2958,3096,36,1434,1695,1160,1061,668,1001493
4,2020,2,104830,53674,51156,423,27134,34007,23384,15726,4156,1001492
...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2020,2,437,261,176,1,59,92,98,101,83,1001443
32908,2020,2,440,260,180,1,57,90,100,104,85,1001456
32909,2020,2,440,260,180,1,57,90,100,104,85,1001464
32910,2020,2,440,260,180,1,57,90,100,104,85,1001465
32911,2020,2,437,261,176,1,59,92,98,101,83,1001485

#### c. 상주인구

In [34]:
# 1. 년도/분기마다 결측된 상권을 정함 

start_year = 2015
end_year = 2020
start_quarter = 1
end_quarter = 4
for i in range (start_year, end_year): # 년도
    for j in range(start_quarter, end_quarter + 1): # 분기
        globals()["_{}y_{}q_nan".format(i,j)] = (해당_년도_분기에_빠진_상권(df_live_new[(df_live_new['기준_분기_코드']==j) & (df_live_new['기준_년_코드']==i)]))
        
for i in range (end_year, end_year + 1): # 년도
    for j in range(start_quarter, end_quarter - 1): # 분기
        globals()["_{}y_{}q_nan".format(i,j)] = (해당_년도_분기에_빠진_상권(df_live_new[(df_live_new['기준_분기_코드']==j) & (df_live_new['기준_년_코드']==i)]))

In [35]:
# 2. 결측치 추가

for i in range (start_year, end_year): # 년도
    for j in range(start_quarter, end_quarter + 1): # 분기
            for k in range(0, len(globals()["_{}y_{}q_nan".format(i,j)])):
                _new_data = {'기준_년_코드' : int(i), '기준_분기_코드' : int(j) , '상권_코드' : int(globals()["_{}y_{}q_nan".format(i,j)][k]), 
                             '총 상주인구 수' : np.nan, '남성 상주인구 수' : np.nan, '여성 상주인구 수' : np.nan,
                             '연령대 10 상주인구 수' : np.nan, '연령대 20 상주인구 수' : np.nan, '연령대 30 상주인구 수' : np.nan, 
                             '연령대 40 상주인구 수' : np.nan, '연령대 50 상주인구 수' : np.nan, '연령대 60 이상 상주인구 수' : np.nan}
                df_live_new = df_live_new.append(_new_data,ignore_index=True)
        
for i in range (end_year, end_year + 1): # 년도
    for j in range(start_quarter, end_quarter - 1): # 분기
            for k in range(0, len(globals()["_{}y_{}q_nan".format(i,j)])):
                _new_data = {'기준_년_코드' : int(i), '기준_분기_코드' : int(j) , '상권_코드' : int(globals()["_{}y_{}q_nan".format(i,j)][k]), 
                             '총 상주인구 수' : np.nan, '남성 상주인구 수' : np.nan, '여성 상주인구 수' : np.nan,
                             '연령대 10 상주인구 수' : np.nan, '연령대 20 상주인구 수' : np.nan, '연령대 30 상주인구 수' : np.nan, 
                             '연령대 40 상주인구 수' : np.nan, '연령대 50 상주인구 수' : np.nan, '연령대 60 이상 상주인구 수' : np.nan}
                df_live_new = df_live_new.append(_new_data,ignore_index=True)

In [55]:
# 3. One-hot encoding 및 KNN-Imputer를 이용하여 결측치 채우기

from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder()
x = onehot.fit_transform(df_live_new['상권_코드'].values.reshape(-1, 1)).toarray()
onehot_df = pd.DataFrame(x, columns = ["상권코드_" + str(int(i)) for i in range(x.shape[1])])
live_o_hot = pd.concat([df_live_new, onehot_df], axis = 1)
market_code_list = list(live_o_hot['상권_코드'])
live_o_hot = live_o_hot.drop(['상권_코드'], axis = 1)

In [ ]:
# 3. One-hot encoding 및 KNN-Imputer를 이용하여 결측치 채우기

import time
start = time.time()  # 시작 시간 저장
 
from sklearn.impute import KNNImputer

n_of_cluster = 150 # 군집의 수
imputer = KNNImputer(n_neighbors = n_of_cluster)
live_o_hot_knn = imputer.fit_transform(live_o_hot)
X_imputed_df = pd.DataFrame(live_o_hot_knn, columns = live_o_hot.columns)

# 추출할 column의 인덱스
target_index = 12
df_live_new = X_imputed_df[X_imputed_df.columns[:target_index]]
df_live_new['상권_코드'] = market_code_list
df_live_new = df_live_new.astype('int')

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

In [37]:
# 2014년 데이터 제거

delete_index = []
for i in range(len(df_live_new)):
    if df_live_new.at[i,'기준_년_코드'] == 2014:
        delete_index.append(i)
    else:
        continue
        
df_live_new = df_live_new.drop(delete_index).fillna(0).reset_index(drop = True)

In [38]:
# 결과 확인

df_live_new

,기준_년_코드,기준_분기_코드,상권_코드,총 상주인구 수,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,연령대 30 상주인구 수,연령대 40 상주인구 수,연령대 50 상주인구 수,연령대 60 이상 상주인구 수
0,2020.0,2.0,1001496.0,24.0,16.0,8.0,6.0,2.0,2.0,3.0,5.0,6.0
1,2020.0,2.0,1001495.0,8221.0,3708.0,4513.0,822.0,1679.0,2063.0,1139.0,997.0,1521.0
2,2020.0,2.0,1001494.0,1924.0,1274.0,650.0,49.0,195.0,200.0,209.0,450.0,821.0
3,2020.0,2.0,1001493.0,2427.0,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0
4,2020.0,2.0,1001492.0,1104.0,401.0,703.0,15.0,51.0,113.0,181.0,239.0,505.0
...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2020.0,2.0,1001366.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32908,2020.0,2.0,1001393.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32909,2020.0,2.0,1001410.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32910,2020.0,2.0,1001434.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32911,2020.0,2.0,1001435.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### (4) 분석 대상 상권의 상권코드 추출

In [41]:
# 분석 대상 상권의 상권코드 추출

market_code_list = list(df['상권_코드'].unique())

In [42]:
# 선택할 데이터의 index를 저장하기 위한 list 정의
fluid_select_index = []
facil_select_index = []
work_select_index = []
live_select_index = []

# 유동인구
for m in market_code_list:
    select_market = df_fluid_new[df_fluid_new['상권_코드'] == m]
    fluid_select_index.append(list(select_market.index))

# 집객시설
for m in market_code_list:
    select_market = df_facil_new[df_facil_new['상권_코드'] == m]
    facil_select_index.append(list(select_market.index))
    
# 직장인구
for m in market_code_list:
    select_market = df_work_new[df_work_new['상권_코드'] == m]
    work_select_index.append(list(select_market.index))
    
# 상주인구
for m in market_code_list:
    select_market = df_live_new[df_live_new['상권_코드'] == m]
    live_select_index.append(list(select_market.index))

In [43]:
# flattening list

fluid_select_index_total = []
facil_select_index_total = []
work_select_index_total = []
live_select_index_total = []
# 유동인구
for index_list in fluid_select_index:
    for ind in index_list:
        fluid_select_index_total.append(ind)

# 집객시설
for index_list in facil_select_index:
    for ind in index_list:
        facil_select_index_total.append(ind)
        
# 직장인구
for index_list in work_select_index:
    for ind in index_list:
        work_select_index_total.append(ind)

# 상주인구
for index_list in live_select_index:
    for ind in index_list:
        live_select_index_total.append(ind)

In [44]:
# 분석 대상이 되는 상권만 선택

# 유동인구
fluid_df = df_fluid_new.loc[fluid_select_index_total,:]

# 집객시설
facil_df = df_facil_new.loc[facil_select_index_total,:]

# 직장인구
work_df = df_work_new.loc[work_select_index_total,:]

# 상주인구
live_df = df_live_new.loc[live_select_index_total,:]

### (5) 데이터 통합

In [57]:
total1 = pd.merge(fluid_df, facil_df, how = 'left', on = ['기준_년_코드', '기준_분기_코드', '상권_코드']).fillna(0)
total2 = pd.merge(total1, work_df, how = 'left', on = ['기준_년_코드', '기준_분기_코드', '상권_코드'])
total3 = pd.merge(total2, live_df, how = 'left', on = ['기준_년_코드', '기준_분기_코드', '상권_코드'])

In [58]:
total3

,기준_년_코드,기준_분기_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,...,연령대_60_이상_직장_인구_수,총 상주인구 수,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,연령대 30 상주인구 수,연령대 40 상주인구 수,연령대 50 상주인구 수,연령대 60 이상 상주인구 수
0,2020,2,3262023,1588974,1673049,106459,612378,845244,657147,488176,...,668,2427.0,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0
1,2020,1,3225040,1579793,1645246,105384,617733,826772,638165,479192,...,668,2427.0,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0
2,2019,4,3875197,1845939,2029259,175096,735062,959768,730898,577770,...,668,2427.0,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0
3,2019,3,3665621,1748642,1916978,172138,705395,882511,676279,552764,...,632,2012.0,1008.0,1004.0,177.0,345.0,404.0,283.0,363.0,440.0
4,2019,2,3805860,1803847,2002013,178965,722392,921776,693086,586402,...,632,2012.0,1008.0,1004.0,177.0,345.0,404.0,283.0,363.0,440.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32533,2016,1,12289,5625,6665,664,1140,2922,3210,3114,...,7,21.0,10.0,11.0,4.0,2.0,4.0,4.0,3.0,4.0
32534,2015,4,19812,9974,9838,871,2952,6383,4731,3567,...,7,21.0,10.0,11.0,4.0,2.0,4.0,4.0,3.0,4.0
32535,2015,3,25164,13387,11777,867,4241,8773,5851,3958,...,9,34.0,17.0,17.0,6.0,4.0,6.0,6.0,6.0,6.0
32536,2015,2,40199,23188,17011,1433,6298,14012,10066,5916,...,9,34.0,17.0,17.0,6.0,4.0,6.0,6.0,6.0,6.0
32537,2015,1,27206,15249,11957,1200,3826,8430,6961,4690,...,8,32.0,16.0,16.0,3.0,4.0,8.0,8.0,7.0,2.0

### (6) 자치구 정보 포함

In [64]:
# 자치구 정보 불러오기
df_code = pd.read_csv('./서울시 문화행사정보 자치구코드 정보.csv', encoding = 'cp949')

# 상권정보 불러오기
df_base = pd.read_csv('./서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding = 'CP949')

In [65]:
# 결과 확인

df_code

        자치구 코드 자치구 명
0   1100000000  인근지역
1   1111000000   종로구
2   1114000000    중구
3   1117000000   용산구
4   1120000000   성동구
5   1121500000   광진구
6   1123000000  동대문구
7   1126000000   중랑구
8   1129000000   성북구
9   1130500000   강북구
10  1132000000   도봉구
11  1135000000   노원구
12  1138000000   은평구
13  1141000000  서대문구
14  1144000000   마포구
15  1147000000   양천구
16  1150000000   강서구
17  1153000000   구로구
18  1154500000   금천구
19  1156000000  영등포구
20  1159000000   동작구
21  1162000000   관악구
22  1165000000   서초구
23  1168000000   강남구
24  1171000000   송파구
25  1174000000   강동구

In [66]:
# 자치구 코드를 앞 5자리만 남기기

new_code = [int(i/(10**5)) for i in df_code['자치구 코드']]
df_code['자치구 코드'] = new_code
df_code_new = df_code.drop(0)
df_code_new

    자치구 코드 자치구 명
1    11110   종로구
2    11140    중구
3    11170   용산구
4    11200   성동구
5    11215   광진구
6    11230  동대문구
7    11260   중랑구
8    11290   성북구
9    11305   강북구
10   11320   도봉구
11   11350   노원구
12   11380   은평구
13   11410  서대문구
14   11440   마포구
15   11470   양천구
16   11500   강서구
17   11530   구로구
18   11545   금천구
19   11560  영등포구
20   11590   동작구
21   11620   관악구
22   11650   서초구
23   11680   강남구
24   11710   송파구
25   11740   강동구

In [28]:
# 자치구 코드 : 자치구 명 딕셔너리 생성

code_name_dict = {k:v for k,v in zip(list(df_code_new['자치구 코드']), list(df_code_new['자치구 명']))}
code_name_dict

{11110: '종로구',
 11140: '중구',
 11170: '용산구',
 11200: '성동구',
 11215: '광진구',
 11230: '동대문구',
 11260: '중랑구',
 11290: '성북구',
 11305: '강북구',
 11320: '도봉구',
 11350: '노원구',
 11380: '은평구',
 11410: '서대문구',
 11440: '마포구',
 11470: '양천구',
 11500: '강서구',
 11530: '구로구',
 11545: '금천구',
 11560: '영등포구',
 11590: '동작구',
 11620: '관악구',
 11650: '서초구',
 11680: '강남구',
 11710: '송파구',
 11740: '강동구'}

In [26]:
# 자치구별 상권코드 분류

code_list = []
for i in df_base['시군구_코드'].unique():
    df = df_base[df_base['시군구_코드'] == i]
    code = list(df['상권_코드'])
    code_list.append(code)
df_base['시군구_코드'].unique()

array([11620, 11680, 11500, 11545, 11380, 11710, 11590, 11560, 11530,
       11470, 11650, 11110, 11170, 11140, 11305, 11320, 11290, 11200,
       11230, 11215, 11260, 11440, 11740, 11410, 11350], dtype=int64)

In [69]:
# 모든 상권이 있는지 확인
count = 0
for code in code_list:
    count += len(code)
count

1496

In [70]:
import warnings
warnings.filterwarnings(action='ignore')

# 시군구 코드 및 자치구 명 column 생성

total3['시군구_코드'] = 0
total3['자치구_명'] = 0
total3.head()

,기준_년_코드,기준_분기_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,...,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,연령대 30 상주인구 수,연령대 40 상주인구 수,연령대 50 상주인구 수,연령대 60 이상 상주인구 수,시군구_코드,자치구_명
0,2020,2,3262023,1588974,1673049,106459,612378,845244,657147,488176,...,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0,0,0
1,2020,1,3225040,1579793,1645246,105384,617733,826772,638165,479192,...,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0,0,0
2,2019,4,3875197,1845939,2029259,175096,735062,959768,730898,577770,...,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0,0,0
3,2019,3,3665621,1748642,1916978,172138,705395,882511,676279,552764,...,1008.0,1004.0,177.0,345.0,404.0,283.0,363.0,440.0,0,0
4,2019,2,3805860,1803847,2002013,178965,722392,921776,693086,586402,...,1008.0,1004.0,177.0,345.0,404.0,283.0,363.0,440.0,0,0

In [71]:
# 시군구_코드, 자치구_명 채우기
for i in range(total3.shape[0]):
    c = total3.loc[i,'상권_코드']
    for j in range(len(code_list)):
        if c in code_list[j]:
            code = list(df_base['시군구_코드'].unique())[j]
            name = code_name_dict[code]
            total3.loc[i,'시군구_코드'] = code
            total3.loc[i, '자치구_명'] = name
        else: continue

In [72]:
# 결과 확인

total3.head()

,기준_년_코드,기준_분기_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,...,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,연령대 30 상주인구 수,연령대 40 상주인구 수,연령대 50 상주인구 수,연령대 60 이상 상주인구 수,시군구_코드,자치구_명
0,2020,2,3262023,1588974,1673049,106459,612378,845244,657147,488176,...,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0,11140,중구
1,2020,1,3225040,1579793,1645246,105384,617733,826772,638165,479192,...,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0,11140,중구
2,2019,4,3875197,1845939,2029259,175096,735062,959768,730898,577770,...,1146.0,1281.0,169.0,505.0,563.0,362.0,369.0,459.0,11140,중구
3,2019,3,3665621,1748642,1916978,172138,705395,882511,676279,552764,...,1008.0,1004.0,177.0,345.0,404.0,283.0,363.0,440.0,11140,중구
4,2019,2,3805860,1803847,2002013,178965,722392,921776,693086,586402,...,1008.0,1004.0,177.0,345.0,404.0,283.0,363.0,440.0,11140,중구

In [73]:
# 결과 확인
len(total3['시군구_코드'].unique())

25

In [74]:
# 결과 확인
len(total3['자치구_명'].unique())

25

In [75]:
# 결측치 확인
total3.isnull().sum().sum()

0

### (7) 결과 저장

In [76]:
# total3.to_csv("./시각화_데이터_최종.csv", encoding = 'cp949')

## 3. 상권 매칭 데이터 전처리
### (1) 데이터 불러오기

In [22]:
# 자치구 정보 불러오기
df_code = pd.read_csv('./서울시 문화행사정보 자치구코드 정보.csv', encoding = 'cp949')

# 상권정보 불러오기
df_base = pd.read_csv('./서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding = 'CP949')

In [23]:
# 자치구 코드를 앞 5자리만 남기기

new_code = [int(i/(10**5)) for i in df_code['자치구 코드']]
df_code['자치구 코드'] = new_code
df_code_new = df_code.drop(0)
df_code_new

    자치구 코드 자치구 명
1    11110   종로구
2    11140    중구
3    11170   용산구
4    11200   성동구
5    11215   광진구
6    11230  동대문구
7    11260   중랑구
8    11290   성북구
9    11305   강북구
10   11320   도봉구
11   11350   노원구
12   11380   은평구
13   11410  서대문구
14   11440   마포구
15   11470   양천구
16   11500   강서구
17   11530   구로구
18   11545   금천구
19   11560  영등포구
20   11590   동작구
21   11620   관악구
22   11650   서초구
23   11680   강남구
24   11710   송파구
25   11740   강동구

In [24]:
df_base

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,201810,R,전통시장,1001453,낙성대시장,196121,442084,11620,11620585,NaN
1,201810,R,전통시장,1001454,봉천제일종합시장,195147,442413,11620,11620595,NaN
2,201810,R,전통시장,1001474,도곡시장,204551,444227,11680,11680650,NaN
3,201810,R,전통시장,1001475,강남개포시장,206065,443310,11680,11680670,NaN
4,201810,R,전통시장,1001412,화곡본동시장,186203,449328,11500,11500590,NaN
...,...,...,...,...,...,...,...,...,...,...
1491,201810,D,발달상권,1001043,동작구 총신대입구역_2,198499,442941,11650,11650621,NaN
1492,201810,D,발달상권,1001044,양재역_3,202755,443008,11650,11650520,NaN
1493,201810,D,발달상권,1001030,양재역_2,203216,442691,11650,11650651,NaN
1494,201810,D,발달상권,1001031,서울 관악구 신림역_1,193706,442615,11620,11620645,NaN
1495,201810,D,발달상권,1001033,서울 서초구 남부터미널역_1,201661,442764,11650,11650510,NaN

In [29]:
# 시군구_코드, 자치구_명 채우기
for i in range(df_base.shape[0]):
    c = df_base.loc[i,'상권_코드']
    for j in range(len(code_list)):
        if c in code_list[j]:
            code = list(df_base['시군구_코드'].unique())[j]
            name = code_name_dict[code]
            df_base.loc[i,'시군구_코드'] = code
            df_base.loc[i, '자치구_명'] = name
        else: continue

In [30]:
df_base

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,자치구_명
0,201810,R,전통시장,1001453,낙성대시장,196121,442084,11620,11620585,NaN,관악구
1,201810,R,전통시장,1001454,봉천제일종합시장,195147,442413,11620,11620595,NaN,관악구
2,201810,R,전통시장,1001474,도곡시장,204551,444227,11680,11680650,NaN,강남구
3,201810,R,전통시장,1001475,강남개포시장,206065,443310,11680,11680670,NaN,강남구
4,201810,R,전통시장,1001412,화곡본동시장,186203,449328,11500,11500590,NaN,강서구
...,...,...,...,...,...,...,...,...,...,...,...
1491,201810,D,발달상권,1001043,동작구 총신대입구역_2,198499,442941,11650,11650621,NaN,서초구
1492,201810,D,발달상권,1001044,양재역_3,202755,443008,11650,11650520,NaN,서초구
1493,201810,D,발달상권,1001030,양재역_2,203216,442691,11650,11650651,NaN,서초구
1494,201810,D,발달상권,1001031,서울 관악구 신림역_1,193706,442615,11620,11620645,NaN,관악구
1495,201810,D,발달상권,1001033,서울 서초구 남부터미널역_1,201661,442764,11650,11650510,NaN,서초구

### (2) 결과 저장

In [32]:
# df_base.to_csv('./상권정보_데이터_최종.csv', encoding = 'cp949')