In [1]:
import numpy as np
import pandas as pd

In [ ]:
# 2015 1,2,3,4 & 2016 1,2,3,4 & 2017 1,2,3,4 & 2018 1,2,3,4 & 2019 1,2,3,4 & 2020 1,2 = 총 22분기
apt_dir = r'2020-2-OSSP-3P-1-main\2020-2-OSSP-3P-1-main\상주인구,아파트\상권_아파트.csv'
human_pop_dir = r'2020-2-OSSP-3P-1-main\2020-2-OSSP-3P-1-main\상주인구,아파트\상권_상주인구.csv'

apt = pd.read_csv( apt_dir )
human_pop = pd.read_csv( human_pop_dir )

In [3]:
apt

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
0,0,2020,2,U,관광특구,1001495,잠실 관광특구,22,89,527347107
1,1,2020,1,U,관광특구,1001495,잠실 관광특구,22,89,527347107
2,2,2020,2,U,관광특구,1001494,종로?청계 관광특구,5,39,112097903
3,3,2020,1,U,관광특구,1001494,종로?청계 관광특구,5,39,112097903
4,4,2020,2,U,관광특구,1001493,동대문패션타운 관광특구,8,53,237967427
...,...,...,...,...,...,...,...,...,...,...
29309,29309,2015,1,A,골목상권,1000002,난계로27길,5,18,84110417
29310,29310,2015,4,A,골목상권,1000001,계동길,27,69,186139469
29311,29311,2015,3,A,골목상권,1000001,계동길,27,69,186139469
29312,29312,2015,2,A,골목상권,1000001,계동길,27,69,186139469
29313,29313,2015,1,A,골목상권,1000001,계동길,27,69,178270767

In [4]:
# 각 년도/분기마다 1496개의 상권이 있어야 하지만 결측 n개의 상권이 있어서, 1496-n개의 상권만 노출되고 있다.
# 따라서, 년도, 분기마다 1496개의 상권 개수가 되도록 NAN 값으로 행을 추가해줘야 함.
# 1. 년도/분기마다 결측된 상권을 정함
# 2. 년도/분기마다 결측된 상권에 대해서 아파트_단지_수, 아파트_평균_면적, 아파트_평균_시가를 NAN 으로 행을 추가함
# 3. 이때 상권_구분_코드, 상권_구분_코드_명, 상권_코드_명는 상권_영역 csv 시트를 참고하여 채워넣는다.

In [5]:
# 그러면 어떤 상권이 빠졌나?
def 해당_년도_분기에_빠진_상권(data_set):
    temp_list =[]
    for i in range (1000001,1001497):
        if (data_set['상권_코드']==i).any():
            pass
        else:
            temp_list.append(i)
    
    return (temp_list)

In [6]:
# 1. 년도/분기마다 결측된 상권을 정함 -> 앞서 만든 2020y_2q_nan 에 해당 결측치를 추가함
for i in range (2015,2020): # 년도
    for j in range(1,5): # 분기
        globals()["_{}y_{}q_nan".format(i,j)] = (해당_년도_분기에_빠진_상권(apt[(apt['기준_분기_코드']==j) & (apt['기준_년_코드']==i)]))
        
for i in range (2020,2021): # 년도
    for j in range(1,3): # 분기
        globals()["_{}y_{}q_nan".format(i,j)] = (해당_년도_분기에_빠진_상권(apt[(apt['기준_분기_코드']==j) & (apt['기준_년_코드']==i)]))

In [7]:
_2020y_2q_nan

[1000013,
 1000017,
 1000039,
 1000040,
 1000083,
 1000108,
 1000114,
 1000261,
 1000272,
 1000325,
 1000367,
 1000684,
 1000686,
 1000700,
 1000705,
 1000709,
 1000763,
 1000892,
 1000901,
 1001012,
 1001014,
 1001020,
 1001021,
 1001029,
 1001041,
 1001053,
 1001055,
 1001059,
 1001060,
 1001068,
 1001075,
 1001079,
 1001086,
 1001091,
 1001097,
 1001103,
 1001104,
 1001112,
 1001113,
 1001130,
 1001132,
 1001134,
 1001142,
 1001144,
 1001149,
 1001159,
 1001161,
 1001171,
 1001176,
 1001177,
 1001184,
 1001191,
 1001194,
 1001200,
 1001202,
 1001203,
 1001204,
 1001209,
 1001211,
 1001212,
 1001214,
 1001215,
 1001216,
 1001217,
 1001218,
 1001219,
 1001220,
 1001222,
 1001228,
 1001232,
 1001233,
 1001235,
 1001239,
 1001247,
 1001258,
 1001261,
 1001262,
 1001265,
 1001266,
 1001267,
 1001268,
 1001270,
 1001272,
 1001273,
 1001274,
 1001275,
 1001276,
 1001278,
 1001280,
 1001281,
 1001285,
 1001287,
 1001288,
 1001291,
 1001293,
 1001299,
 1001307,
 1001311,
 1001312,
 1001314,
 1001315,
 1001318,
 1001319,
 1001320,
 1001321,
 1001322,
 1001325,
 1001338,
 1001341,
 1001344,
 1001346,
 1001348,
 1001351,
 1001366,
 1001369,
 1001370,
 1001372,
 1001376,
 1001378,
 1001383,
 1001384,
 1001387,
 1001392,
 1001393,
 1001401,
 1001402,
 1001404,
 1001406,
 1001407,
 1001408,
 1001410,
 1001416,
 1001422,
 1001423,
 1001426,
 1001432,
 1001434,
 1001436,
 1001438,
 1001442,
 1001445,
 1001451,
 1001455,
 1001456,
 1001461,
 1001464,
 1001465,
 1001467,
 1001473,
 1001475,
 1001487,
 1001492,
 1001496]

In [8]:
apart = apt.drop(['Unnamed: 0','상권_구분_코드','상권_구분_코드_명','상권_코드_명'], axis=1)

In [9]:
apart

       기준_년_코드  기준_분기_코드    상권_코드  아파트_단지_수  아파트_평균_면적  아파트_평균_시가
0         2020         2  1001495        22         89  527347107
1         2020         1  1001495        22         89  527347107
2         2020         2  1001494         5         39  112097903
3         2020         1  1001494         5         39  112097903
4         2020         2  1001493         8         53  237967427
...        ...       ...      ...       ...        ...        ...
29309     2015         1  1000002         5         18   84110417
29310     2015         4  1000001        27         69  186139469
29311     2015         3  1000001        27         69  186139469
29312     2015         2  1000001        27         69  186139469
29313     2015         1  1000001        27         69  178270767

[29314 rows x 6 columns]

In [10]:
# 2,3 - 결측치 추가 
for i in range (2015,2020): # 년도
    for j in range(1,5): # 분기
            for k in range(0,len(globals()["_{}y_{}q_nan".format(i,j)])):
                _new_data = {'기준_년_코드' : int(i), '기준_분기_코드' : int(j) , '상권_코드' : int(globals()["_{}y_{}q_nan".format(i,j)][k]), '아파트_단지_수' : np.nan, '아파트_평균_면적' : np.nan, '아파트_평균_시가' : np.nan }
                apart = apart.append(_new_data,ignore_index=True)
        
for i in range (2020,2021): # 년도
    for j in range(1,3): # 분기
            for k in range(0,len(globals()["_{}y_{}q_nan".format(i,j)])):
                _new_data = {'기준_년_코드' : int(i), '기준_분기_코드' : int(j) , '상권_코드' : int(globals()["_{}y_{}q_nan".format(i,j)][k]), '아파트_단지_수' : np.nan, '아파트_평균_면적' : np.nan, '아파트_평균_시가' : np.nan }
                # print(_new_data)
                apart = apart.append(_new_data,ignore_index=True)

In [11]:
apart # 22개 행 * 1496 = 32912

       기준_년_코드  기준_분기_코드      상권_코드  아파트_단지_수  아파트_평균_면적    아파트_평균_시가
0       2020.0       2.0  1001495.0      22.0       89.0  527347107.0
1       2020.0       1.0  1001495.0      22.0       89.0  527347107.0
2       2020.0       2.0  1001494.0       5.0       39.0  112097903.0
3       2020.0       1.0  1001494.0       5.0       39.0  112097903.0
4       2020.0       2.0  1001493.0       8.0       53.0  237967427.0
...        ...       ...        ...       ...        ...          ...
32907   2020.0       2.0  1001473.0       NaN        NaN          NaN
32908   2020.0       2.0  1001475.0       NaN        NaN          NaN
32909   2020.0       2.0  1001487.0       NaN        NaN          NaN
32910   2020.0       2.0  1001492.0       NaN        NaN          NaN
32911   2020.0       2.0  1001496.0       NaN        NaN          NaN

[32912 rows x 6 columns]

In [12]:
# one hot embedding
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [13]:
onehot = OneHotEncoder()
x = onehot.fit_transform(apart['상권_코드'].values.reshape(-1,1)).toarray()

In [14]:
x

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [15]:
onehot_df = pd.DataFrame(x, columns = ["상권코드_"+str(int(i)) for i in range(x.shape[1])])

In [16]:
apart_o_hot = pd.concat([apart, onehot_df], axis=1)

In [17]:
apart_o_hot

,기준_년_코드,기준_분기_코드,상권_코드,아파트_단지_수,아파트_평균_면적,아파트_평균_시가,상권코드_0,상권코드_1,상권코드_2,상권코드_3,...,상권코드_1486,상권코드_1487,상권코드_1488,상권코드_1489,상권코드_1490,상권코드_1491,상권코드_1492,상권코드_1493,상권코드_1494,상권코드_1495
0,2020.0,2.0,1001495.0,22.0,89.0,527347107.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2020.0,1.0,1001495.0,22.0,89.0,527347107.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2020.0,2.0,1001494.0,5.0,39.0,112097903.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2020.0,1.0,1001494.0,5.0,39.0,112097903.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2020.0,2.0,1001493.0,8.0,53.0,237967427.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2020.0,2.0,1001473.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32908,2020.0,2.0,1001475.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32909,2020.0,2.0,1001487.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32910,2020.0,2.0,1001492.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
32911,2020.0,2.0,1001496.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [18]:
apart_o_hot = apart_o_hot.drop(['상권_코드'], axis=1)

In [112]:
import time
start = time.time()  # 시작 시간 저장
 
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors = 150)

apart_o_hot_knn = imputer.fit_transform(apart_o_hot)

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

time : 231.40536284446716

In [113]:
df = pd.DataFrame(data=apart_o_hot_knn)

df

,0,1,2,3,4,5,6,7,8,9,...,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500
0,2020.0,2.0,22.00,89.000000,5.273471e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2020.0,1.0,22.00,89.000000,5.273471e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2020.0,2.0,5.00,39.000000,1.120979e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2020.0,1.0,5.00,39.000000,1.120979e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2020.0,2.0,8.00,53.000000,2.379674e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2020.0,2.0,14.48,82.273333,2.942853e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32908,2020.0,2.0,14.48,82.273333,2.942853e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32909,2020.0,2.0,14.48,82.273333,2.942853e+08,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32910,2020.0,2.0,14.48,82.273333,2.942853e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
32911,2020.0,2.0,14.48,82.273333,2.942853e+08,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [114]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [115]:
df

,0,1,2,3,4,5,6,7,8,9,...,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500
0,2020.000,2.000,22.000,89.000,527347107.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000
1,2020.000,1.000,22.000,89.000,527347107.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000
2,2020.000,2.000,5.000,39.000,112097903.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000
3,2020.000,1.000,5.000,39.000,112097903.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000
4,2020.000,2.000,8.000,53.000,237967427.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2020.000,2.000,14.480,82.273,294285315.613,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
32908,2020.000,2.000,14.480,82.273,294285315.613,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
32909,2020.000,2.000,14.480,82.273,294285315.613,0.000,0.000,0.000,0.000,0.000,...,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
32910,2020.000,2.000,14.480,82.273,294285315.613,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000
32911,2020.000,2.000,14.480,82.273,294285315.613,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000