## 데이터 수집 및 전처리

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("data_상권/서울시 우리마을가게 상권분석서비스(상권-직장인구)_new.csv",encoding='cp949')
data

,Unnamed: 0,기준_년월_코드,기준_분기_코드,기준_분기_코드.1,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수
0,0,2020,2,U,관광특구,1001496,강남 마이스 관광특구,15904
1,1,2020,2,U,관광특구,1001495,잠실 관광특구,24375
2,2,2020,2,U,관광특구,1001494,종로?청계 관광특구,32935
3,3,2020,2,U,관광특구,1001493,동대문패션타운 관광특구,6054
4,4,2020,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830
...,...,...,...,...,...,...,...,...
34377,34377,2014,2,A,골목상권,1000006,북촌로11길,17
34378,34378,2014,2,A,골목상권,1000005,백석동길,91
34379,34379,2014,2,A,골목상권,1000004,명륜길,7
34380,34380,2014,2,A,골목상권,1000003,돈화문로11가길,1028
34381,34381,2014,2,A,골목상권,1000001,계동길,777

In [3]:
data.groupby(['기준_년월_코드','기준_분기_코드']).size()

기준_년월_코드  기준_분기_코드
2014      2           1338
          3           1338
          4           1337
2015      1           1337
          2           1339
          3           1339
          4           1341
2016      1           1341
          2           1343
          3           1343
          4           1343
2017      1           1343
          2           1343
          3           1343
          4           1341
2018      1           1341
          2           1343
          3           1343
          4           1343
2019      1           1492
          2           1493
          3           1493
          4           1475
2020      1           1475
          2           1475
dtype: int64

In [4]:
data.groupby(['기준_년월_코드','기준_분기_코드']).get_group((2014,4))

,Unnamed: 0,기준_년월_코드,기준_분기_코드,기준_분기_코드.1,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수
30369,30369,2014,4,U,관광특구,1001496,강남 마이스 관광특구,20221
30370,30370,2014,4,U,관광특구,1001495,잠실 관광특구,26104
30371,30371,2014,4,U,관광특구,1001494,종로?청계 관광특구,30067
30372,30372,2014,4,U,관광특구,1001493,동대문패션타운 관광특구,14192
30373,30373,2014,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,174074
...,...,...,...,...,...,...,...,...
31701,31701,2014,4,A,골목상권,1000006,북촌로11길,17
31702,31702,2014,4,A,골목상권,1000005,백석동길,83
31703,31703,2014,4,A,골목상권,1000004,명륜길,10
31704,31704,2014,4,A,골목상권,1000003,돈화문로11가길,1092
31705,31705,2014,4,A,골목상권,1000001,계동길,780

In [5]:
data=data.drop(data.index[30369:34382])
data

,Unnamed: 0,기준_년월_코드,기준_분기_코드,기준_분기_코드.1,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수
0,0,2020,2,U,관광특구,1001496,강남 마이스 관광특구,15904
1,1,2020,2,U,관광특구,1001495,잠실 관광특구,24375
2,2,2020,2,U,관광특구,1001494,종로?청계 관광특구,32935
3,3,2020,2,U,관광특구,1001493,동대문패션타운 관광특구,6054
4,4,2020,2,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830
...,...,...,...,...,...,...,...,...
30364,30364,2015,1,A,골목상권,1000006,북촌로11길,17
30365,30365,2015,1,A,골목상권,1000005,백석동길,83
30366,30366,2015,1,A,골목상권,1000004,명륜길,10
30367,30367,2015,1,A,골목상권,1000003,돈화문로11가길,1092
30368,30368,2015,1,A,골목상권,1000001,계동길,780

In [6]:
data=data.drop(['Unnamed: 0','기준_분기_코드.1'],axis=1,inplace=False)
data

,기준_년월_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수
0,2020,2,관광특구,1001496,강남 마이스 관광특구,15904
1,2020,2,관광특구,1001495,잠실 관광특구,24375
2,2020,2,관광특구,1001494,종로?청계 관광특구,32935
3,2020,2,관광특구,1001493,동대문패션타운 관광특구,6054
4,2020,2,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830
...,...,...,...,...,...,...
30364,2015,1,골목상권,1000006,북촌로11길,17
30365,2015,1,골목상권,1000005,백석동길,83
30366,2015,1,골목상권,1000004,명륜길,10
30367,2015,1,골목상권,1000003,돈화문로11가길,1092
30368,2015,1,골목상권,1000001,계동길,780

In [7]:
data.groupby(['기준_년월_코드','기준_분기_코드']).size()

기준_년월_코드  기준_분기_코드
2015      1           1337
          2           1339
          3           1339
          4           1341
2016      1           1341
          2           1343
          3           1343
          4           1343
2017      1           1343
          2           1343
          3           1343
          4           1341
2018      1           1341
          2           1343
          3           1343
          4           1343
2019      1           1492
          2           1493
          3           1493
          4           1475
2020      1           1475
          2           1475
dtype: int64

In [8]:
data=data.rename({'기준_년월_코드':'기준_년_코드'},axis='columns')
data

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수
0,2020,2,관광특구,1001496,강남 마이스 관광특구,15904
1,2020,2,관광특구,1001495,잠실 관광특구,24375
2,2020,2,관광특구,1001494,종로?청계 관광특구,32935
3,2020,2,관광특구,1001493,동대문패션타운 관광특구,6054
4,2020,2,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830
...,...,...,...,...,...,...
30364,2015,1,골목상권,1000006,북촌로11길,17
30365,2015,1,골목상권,1000005,백석동길,83
30366,2015,1,골목상권,1000004,명륜길,10
30367,2015,1,골목상권,1000003,돈화문로11가길,1092
30368,2015,1,골목상권,1000001,계동길,780

In [9]:
data_jy=pd.read_csv("data_상권/merge_df_문지용.csv",encoding='cp949')
data_jy

,Unnamed: 0,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액
0,0,R,전통시장,1001453,낙성대시장,2020.0,2.0,189157.0,4.0,3.994677e+09
1,1,R,전통시장,1001454,봉천제일종합시장,2020.0,2.0,82738.0,2.0,4.456344e+09
2,2,R,전통시장,1001474,도곡시장,2020.0,2.0,284809.0,7.0,1.162736e+10
3,3,R,전통시장,1001475,강남개포시장,2020.0,2.0,45750.0,4.0,3.526016e+09
4,4,R,전통시장,1001412,화곡본동시장,2020.0,2.0,184732.0,10.0,1.442403e+10
...,...,...,...,...,...,...,...,...,...,...
32907,1491,D,발달상권,1001043,동작구 총신대입구역_2,2015.0,1.0,773412.0,46.0,2.521811e+10
32908,1492,D,발달상권,1001044,양재역_3,2015.0,1.0,856624.0,32.0,3.210864e+10
32909,1493,D,발달상권,1001030,양재역_2,2015.0,1.0,838040.0,33.0,2.441664e+10
32910,1494,D,발달상권,1001031,서울 관악구 신림역_1,2015.0,1.0,1199177.0,22.0,4.257281e+10
32911,1495,D,발달상권,1001033,서울 서초구 남부터미널역_1,2015.0,1.0,345028.0,25.0,5.960635e+10

In [10]:
data_jy=data_jy.drop(['Unnamed: 0'],axis=1,inplace=False)
data_jy

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액
0,R,전통시장,1001453,낙성대시장,2020.0,2.0,189157.0,4.0,3.994677e+09
1,R,전통시장,1001454,봉천제일종합시장,2020.0,2.0,82738.0,2.0,4.456344e+09
2,R,전통시장,1001474,도곡시장,2020.0,2.0,284809.0,7.0,1.162736e+10
3,R,전통시장,1001475,강남개포시장,2020.0,2.0,45750.0,4.0,3.526016e+09
4,R,전통시장,1001412,화곡본동시장,2020.0,2.0,184732.0,10.0,1.442403e+10
...,...,...,...,...,...,...,...,...,...
32907,D,발달상권,1001043,동작구 총신대입구역_2,2015.0,1.0,773412.0,46.0,2.521811e+10
32908,D,발달상권,1001044,양재역_3,2015.0,1.0,856624.0,32.0,3.210864e+10
32909,D,발달상권,1001030,양재역_2,2015.0,1.0,838040.0,33.0,2.441664e+10
32910,D,발달상권,1001031,서울 관악구 신림역_1,2015.0,1.0,1199177.0,22.0,4.257281e+10
32911,D,발달상권,1001033,서울 서초구 남부터미널역_1,2015.0,1.0,345028.0,25.0,5.960635e+10

In [11]:
data_jy=data_jy.drop(['상권_구분_코드'],axis=1,inplace=False)
data_jy

,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액
0,전통시장,1001453,낙성대시장,2020.0,2.0,189157.0,4.0,3.994677e+09
1,전통시장,1001454,봉천제일종합시장,2020.0,2.0,82738.0,2.0,4.456344e+09
2,전통시장,1001474,도곡시장,2020.0,2.0,284809.0,7.0,1.162736e+10
3,전통시장,1001475,강남개포시장,2020.0,2.0,45750.0,4.0,3.526016e+09
4,전통시장,1001412,화곡본동시장,2020.0,2.0,184732.0,10.0,1.442403e+10
...,...,...,...,...,...,...,...,...
32907,발달상권,1001043,동작구 총신대입구역_2,2015.0,1.0,773412.0,46.0,2.521811e+10
32908,발달상권,1001044,양재역_3,2015.0,1.0,856624.0,32.0,3.210864e+10
32909,발달상권,1001030,양재역_2,2015.0,1.0,838040.0,33.0,2.441664e+10
32910,발달상권,1001031,서울 관악구 신림역_1,2015.0,1.0,1199177.0,22.0,4.257281e+10
32911,발달상권,1001033,서울 서초구 남부터미널역_1,2015.0,1.0,345028.0,25.0,5.960635e+10

In [12]:
data.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_직장_인구_수'], dtype='object')

In [13]:
data_jy.columns

Index(['상권_구분_코드_명', '상권_코드', '상권_코드_명', '기준_년_코드', '기준_분기_코드', '총_유동인구_수',
       '집객시설_수', '당월_매출_금액'],
      dtype='object')

In [14]:
data_all=pd.merge(data_jy,data,how='left',on=['상권_구분_코드_명', '상권_코드', '상권_코드_명', '기준_년_코드', '기준_분기_코드'])
data_all

,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액,총_직장_인구_수
0,전통시장,1001453,낙성대시장,2020.0,2.0,189157.0,4.0,3.994677e+09,10.0
1,전통시장,1001454,봉천제일종합시장,2020.0,2.0,82738.0,2.0,4.456344e+09,6.0
2,전통시장,1001474,도곡시장,2020.0,2.0,284809.0,7.0,1.162736e+10,57.0
3,전통시장,1001475,강남개포시장,2020.0,2.0,45750.0,4.0,3.526016e+09,138.0
4,전통시장,1001412,화곡본동시장,2020.0,2.0,184732.0,10.0,1.442403e+10,36.0
...,...,...,...,...,...,...,...,...,...
32907,발달상권,1001043,동작구 총신대입구역_2,2015.0,1.0,773412.0,46.0,2.521811e+10,1129.0
32908,발달상권,1001044,양재역_3,2015.0,1.0,856624.0,32.0,3.210864e+10,3267.0
32909,발달상권,1001030,양재역_2,2015.0,1.0,838040.0,33.0,2.441664e+10,8352.0
32910,발달상권,1001031,서울 관악구 신림역_1,2015.0,1.0,1199177.0,22.0,4.257281e+10,1715.0
32911,발달상권,1001033,서울 서초구 남부터미널역_1,2015.0,1.0,345028.0,25.0,5.960635e+10,692.0

In [15]:
data_sw=pd.read_csv("data_상권/merged_상주인구_아파트.csv",encoding='cp949')
data_sw

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,상권_코드_명,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
0,0,2020,2,U,관광특구,1001496,24.0,NaN,NaN,NaN,NaN
1,1,2020,2,U,관광특구,1001495,8221.0,잠실 관광특구,22.0,89.0,5.273471e+08
2,2,2020,2,U,관광특구,1001494,1924.0,종로?청계 관광특구,5.0,39.0,1.120979e+08
3,3,2020,2,U,관광특구,1001493,2427.0,동대문패션타운 관광특구,8.0,53.0,2.379674e+08
4,4,2020,2,U,관광특구,1001492,1104.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
32489,32489,2016,1,D,발달상권,1001170,NaN,공덕역,1.0,196.0,1.094596e+09
32490,32490,2016,3,D,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32491,32491,2016,2,D,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32492,32492,2016,1,D,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32493,32493,2015,1,A,골목상권,1000001,NaN,계동길,27.0,69.0,1.782708e+08

In [16]:
data_sw=data_sw.drop(['Unnamed: 0','상권_구분_코드'],axis=1,inplace=False)
data_sw

,기준_년_코드,기준_분기_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,상권_코드_명,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
0,2020,2,관광특구,1001496,24.0,NaN,NaN,NaN,NaN
1,2020,2,관광특구,1001495,8221.0,잠실 관광특구,22.0,89.0,5.273471e+08
2,2020,2,관광특구,1001494,1924.0,종로?청계 관광특구,5.0,39.0,1.120979e+08
3,2020,2,관광특구,1001493,2427.0,동대문패션타운 관광특구,8.0,53.0,2.379674e+08
4,2020,2,관광특구,1001492,1104.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32489,2016,1,발달상권,1001170,NaN,공덕역,1.0,196.0,1.094596e+09
32490,2016,3,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32491,2016,2,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32492,2016,1,발달상권,1001167,NaN,서울 마포구 공덕역_1,2.0,118.0,6.624885e+08
32493,2015,1,골목상권,1000001,NaN,계동길,27.0,69.0,1.782708e+08

In [17]:
data_sw.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드_명', '상권_코드', '총 상주인구 수', '상권_코드_명',
       '아파트_단지_수', '아파트_평균_면적', '아파트_평균_시가'],
      dtype='object')

In [18]:
data_all_3=pd.merge(data_all,data_sw,how='left',on=['상권_구분_코드_명', '상권_코드', '상권_코드_명', '기준_년_코드', '기준_분기_코드'])
data_all_3

,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액,총_직장_인구_수,총 상주인구 수,아파트_단지_수,아파트_평균_면적,아파트_평균_시가
0,전통시장,1001453,낙성대시장,2020.0,2.0,189157.0,4.0,3.994677e+09,10.0,568.0,6.0,37.0,123503739.0
1,전통시장,1001454,봉천제일종합시장,2020.0,2.0,82738.0,2.0,4.456344e+09,6.0,496.0,2.0,30.0,168357143.0
2,전통시장,1001474,도곡시장,2020.0,2.0,284809.0,7.0,1.162736e+10,57.0,241.0,1.0,67.0,639223684.0
3,전통시장,1001475,강남개포시장,2020.0,2.0,45750.0,4.0,3.526016e+09,138.0,NaN,NaN,NaN,NaN
4,전통시장,1001412,화곡본동시장,2020.0,2.0,184732.0,10.0,1.442403e+10,36.0,338.0,12.0,50.0,120212126.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,발달상권,1001043,동작구 총신대입구역_2,2015.0,1.0,773412.0,46.0,2.521811e+10,1129.0,2088.0,6.0,52.0,240936953.0
32908,발달상권,1001044,양재역_3,2015.0,1.0,856624.0,32.0,3.210864e+10,3267.0,1956.0,33.0,69.0,215948672.0
32909,발달상권,1001030,양재역_2,2015.0,1.0,838040.0,33.0,2.441664e+10,8352.0,1313.0,11.0,60.0,205660490.0
32910,발달상권,1001031,서울 관악구 신림역_1,2015.0,1.0,1199177.0,22.0,4.257281e+10,1715.0,NaN,NaN,NaN,NaN
32911,발달상권,1001033,서울 서초구 남부터미널역_1,2015.0,1.0,345028.0,25.0,5.960635e+10,692.0,1021.0,6.0,100.0,390731834.0

In [19]:
data_all_3.columns

Index(['상권_구분_코드_명', '상권_코드', '상권_코드_명', '기준_년_코드', '기준_분기_코드', '총_유동인구_수',
       '집객시설_수', '당월_매출_금액', '총_직장_인구_수', '총 상주인구 수', '아파트_단지_수', '아파트_평균_면적',
       '아파트_평균_시가'],
      dtype='object')

In [22]:
data_all_3.to_csv('data_processed_final.csv')